.encabezado {
  background: #fefefe;
  color: #0c0c0c;
  height: 120px;
  font-size: 14px;
  margin: 10px;
  width: 99%;
}

.centrar {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_confirmar {
  margin-right: 1px;
  margin-left: 1px;
  padding: 4px 12px 4px 12px;
  border-radius: 20px;
  border:1px solid #18ab29;
  font-size: 12px;
  line-height: 16px;
  color: #f5f1f1 !important;
  background-color: #44c767 !important;
  cursor:pointer;
  text-decoration:none;
  &:hover {
    background-color:#5cbf2a;
  }
   &:active {
    position:relative;
    top:1px;
  }
}



.row_encabezado {
  height: 60px;
  padding: 8px;
}

// Cupo 1

table {
  width: 100%;
  border: 1px solid black;
  text-align: center;
}

td,
th {
  border: 1px solid black;
  font-size: 10px;
  text-align: center;
  padding-bottom: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

mat-select-autocomplete {

::ng-deep  .mat-select-value{
    font-size:  11px !important;
    padding-left: 8px;
  }
}





.segunda_tbl {
  padding-top: 15px;
  background: rgb(132, 174, 194);
}

.comunes {
  height: 99%;
  margin-left: 7px;
  margin-right: 7px;
  padding: 5px;

}

.col_blue {
  background-color: #2F5698;
  color: white;
  padding: 4px !important;
  text-align: center;
}

.col_celeste {
  background-color: #008DCF;
  color: white;
  text-align: center;
}

.col_verde {
  background-color: #08667F;
  color: white;
  text-align: center;
}

.col_gris {
  background-color: #7C8BA5;
  color: white;
  text-align: center;
}

.col_verdeClaro {
  background-color: #5AAE4B;
  color: white;
  text-align: center;
  width: 2%;
  padding: 15px;
}


mat-card {
  padding: 14px;
}

td { font-size: 11px; }

mat-table {
  border: 1px solid #000;
}




.example-element-description[_ngcontent-c12] {
  padding: 10px;
  background: #00aeef;
}

.example-element-detail[_ngcontent-c17] {
  background: #00aeef;
}

.example-expanded-row {
  background: #00aeef;
}

.example-element-detail[_ngcontent-c12] {
  background: #00aeef;
}

.example-element-row {
  height: 64px;
}

#app-customizer {
  position: fixed;
  z-index: 20000;
  top: 70px;
  right: 12px;
  max-width: 300px;

  .handle {
    float: right;
  }

  .mat-card-content {
    padding: 1rem 1.5rem 2rem;
  }
}

#app-customizer1 {
  position: fixed;
  z-index: 20000;
  top: 70px;
  right: 92px;
  max-width: 300px;

  .handle {
    float: right;
  }

  .mat-card-content {
    padding: 1rem 1.5rem 2rem;
  }
}



.example-element-detail[_ngcontent-c6] {
  background: #00aeef;
}



.white-icon {
  color: #ffc107;
}

.white-icon svg {
  fill: #ffc107;
}

::ng-deep .app-admin-container .rightside-content-hold {
  padding: 0px !important;
}

/* label style */
.mat-tab-label {
  background: green;
  color: white;
}

/* focus style */
.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  background: red;
}

/* ink bar style */
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: yellow;
  height: 10px;
}

::ng-deep .mat-tab-labels {
  height: 48px;
  margin-top: 0px;
  margin-left: 56px;
}

.egret-indigo .mat-tab-group.mat-background-primary .mat-tab-header {
  background-color: #87b1c6 !important;
}

.mat-tab-link {
  color: white !important;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  color: white;
}

::ng-deep .mat-tab-header {
  border-bottom: 0px !important;
  background-color: #87b1c6 !important;
}

::ng-deep .mat-tab-label-active .mat-tab-label-content {
  color: #87b1c6;
  background-color: #e9e9ea;
}

::ng-deep .mat-tab-label-active {
  color: #87b1c6;
  background-color: #e9e9ea;
  opacity: 1 !important;
}

::ng-deep .mat-ink-bar {
  background-color: #e9e9ea;
}

::ng-deep .mat-tab-body-content {
  background-color: #e9e9ea;
}

.mat-fab {
  border: solid !important;
}

.mat-card.default .mat-card-title {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0px;
}

agm-map {
  height: 400px;
}

.mat-select-panel {
  max-width: 280px;
  overflow: auto;
  padding-top: 0;
  padding-bottom: 0;
}

#asignar {
  position: fixed;
  z-index: 20000;
  top: 75px;
  //right: 200px;
  right: 120px;
  max-width: 300px;

  .handle {
    float: right;
  }

  .mat-card-content {
    padding: 1rem 1.5rem 2rem;
  }
}

#solicitar {
  position: fixed;
  z-index: 20000;
  top: 75px;
  right: 10px;
  max-width: 300px;

  .handle {
    float: right;
  }

  .mat-card-content {
    padding: 1rem 1.5rem 2rem;
  }
}

#solicitar1 {
  position: fixed;
  z-index: 20000;
  left: 48px;
  max-width: 300px;
}

#cabecera {
  position: fixed;
  z-index: 20000;
  top: 75px;
  //right: 150px;
  right: 200px;
  max-width: 300px;

  .handle {
    float: right;
  }

  .mat-card-content {
    padding: 1rem 1.5rem 2rem;
  }
}

#devolver {
  position: fixed;
  z-index: 20000;
  top: 75px;
  right: 90px;
  max-width: 300px;

  .handle {
    float: right;
  }

  .mat-card-content {
    padding: 1rem 1.5rem 2rem;
  }
}

#filtro-asignados {
  position: fixed;
  z-index: 20000;
  top: 75px;
  right: 10px;
  max-width: 300px;

  .handle {
    float: right;
  }

  .mat-card-content {
    padding: 1rem 1.5rem 2rem;
  }
}

#otros_productos {
  position: fixed;
  z-index: 20000;
  top: 197px;
  right: 30px;
  max-width: 300px;

  .handle {
    float: right;
  }

  .mat-card-content {
    padding: 1rem 1.5rem 2rem;
  }
}

#otros {
  position: fixed;
  z-index: 20000;
  top: 186px;
  right: 135px;
  max-width: 300px;

  .mat-card-content {
    padding: 1rem 1.5rem 2rem;
  }
}

.checkboxcustom {
  height: 15px;
  width: 15px;
}

.example-container {
  height: 200px;
  overflow: auto;
}

.mat-column-destino {
  width: 53%;
  border-left-color: #e9e7e7;
}


.mat-column-destinatario {
  width: 55%;
  border-left-color: #e9e7e7;
}

.mat-column-dia1 {
  width: 8%;
  text-align: center;
}

.mat-column-dia2 {
  width: 8%;
  text-align: center;
}

.mat-column-dia3 {
  width: 8%;
  text-align: center;
}

.mat-column-dia4 {
  width: 8%;
  text-align: center;
}

.mat-column-dia5 {
  width: 8%;
  text-align: center;
  border-right-color: #e9e7e7;
  padding: 0px;
}

.mat-column-disponibles {
  width: 4.2%;
  text-align: center;
  border-right-color: #e9e7e7;
  padding: 0px;
  background: #E9F5FA;
}

.mat-column-solicitados {
  width: 4.2%;
  text-align: center;
  border-right-color: #e9e7e7;
  padding: 0px;
  background-color: #FFF5CC;
}


.span_totales {
  margin-left: 5px;
}

.mat-header-row{
  height: 34px;
}

#paginacion{
  ::ng-deep  .mat-select-value {
    color: #757575;
  }
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 140px;
  margin-top: 0px;
}

.mat-sort-header-button {
  margin-left: 50px;
  width: 90%;
}

.rojo{
  color: rgb(242, 12, 12);
}

.textarea {
  min-height: 100px;
  border: 1px solid #ddd;
  position: relative;
  width: 99%;
  box-shadow: none;
  background: #87b1c6;
  padding: 0;
  margin: 0.6em;
  margin-top: 5px;
}


#sele-producto {
  ::ng-deep .mat-form-field-infix {
    margin-top: 7px;
    color: #ffffff;
    /*  border-top: 0.84375em solid transparent; */
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #ffffff;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #028cd100 !important;
  }

}

#inputs {
  ::ng-deep .mat-form-field-underline {
    width: 160px;
  }
}
#inputs_gris {
  ::ng-deep .mat-form-field-underline {
    width: 120px;
  }
}

.select_producto {
  border-color: rgb(23, 71, 144);
  border-style: solid;
  border-radius: 10px;
  margin-top: 3px;
  height: 31px;
  border-width: thin;
  padding-top: 6px;
  padding-left: 15px;
  background: rgb(23, 71, 144);
  color: #ffffff;
  font-size: 11px;

}



input[type="text"] {
  background: transparent;
  border: none;
}

#select_blue {
  ::ng-deep .mat-form-field-infix {
    margin-top: 7px;
    color: #ffffff;
    /*  border-top: 0.84375em solid transparent; */
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #ffffff;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #028cd100 !important;
  }
}

.select_blue {
  border-color: rgb(0, 141, 207);
  border-style: solid;
  border-radius: 10px;
  margin-top: 2px;
  height: 31px;
  padding-top: 6px;
  padding-left: 0px;
  background: rgb(0, 141, 207);
  color: #ffffff;
  font-size: 11px;
}

.select_celeste {
  border-color: rgb(0, 141, 207);
  border-style: solid;
  border-radius: 10px;
  margin-top: 2px;
  height: 30px;
  padding-top: 6px;
  padding-left: 0px;
  background: rgb(0, 141, 207);
  color: #ffffff;
  font-size: 11px;
}

.select_verde {
  border-color: rgb(8, 102, 127);
  border-style: solid;
  border-radius: 10px;
  margin-top: 2px;
  height: 29px;
  padding-top: 6px;
  padding-left: 0px;
  background: rgb(8, 102, 127);
  color: #ffffff;
  font-size: 11px;
}

.select_gris {
  border-color: rgb(124, 139, 165);
  border-style: solid;
  border-radius: 10px;
  margin-top: 2px;
  height: 29px;
  padding-top: 6px;
  padding-left: 0px;
  background: rgb(124, 139, 165);
  color: #ffffff;
  font-size: 11px;
}

.buscar_btn {
  padding: 8px 12px 8px 12px;
  border-radius: 20px;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  background-color: #174891;
}
.btn_export {
  padding: 8px 12px 8px 12px;
  border-radius: 20px;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  background-color: #63828F;
}

#fecha-bt1 {

  ::ng-deep  .mat-form-field-suffix {
    margin-left:18px ;
  }
  ::ng-deep .mat-form-field-infix {
    color: #fff;
    border-top: 0.84375em solid transparent;
    text-align: left;
    margin-left: 10px;
  }

  .full-width{
    width: 100% !important;
  }

  input{
    font-size: 12px !important;
  }

  select {
    font-size: 12px !important;
  }



  ::ng-deep.mat-form-field-infix .mat-input-element {
    margin-top: -3.5em;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #ffffff;
  }

  ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: #ffffff;
  }

  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background: transparent !important;
    //background-color: #ffffff !important;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    //background-color: #ffffff !important;
    background: transparent !important;
  }
}

.fecha-bt {
  border-color: rgb(23, 71, 144);
  border-style: solid;
  border-radius: 10px;
  margin-top: 2px;
  width: 101%;
  height: 29px;
  padding: 2px;
  padding-right: 16px;
  padding-left: 2px;
  border-width: 0.5px;
  background: rgb(23, 71, 144);
  color: #fff;
  text-align: left;
  font-size: 11px;
}


:host ::ng-deep .egret-indigo .mat-select-disabled .mat-select-value {
  color: #fff;
}

:host ::ng-deep .egret-indigo .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
  color: #fff;
}

:host ::ng-deep .egret-indigo .mat-select-value {
  color: #fff;
}

:host ::ng-deep .egret-indigo .mat-select-arrow {
  color: #fff;
}

:host ::ng-deep .egret-indigo .mat-select.mat-select-disabled .mat-select-arrow {
  color: #fff;
}

:host ::ng-deep .mat-datepicker-toggle-default-icon {
  color: #fff;
  margin-top: -10px;
  // margin-right: 12px;
  font-size: x-large;
}

.width-90 {
  width: 90%;
}

.width-80 {
  width: 80%;
}

.width-70 {
  width: 70%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

#sele-destinatario {
  ::ng-deep.mat-form-field-infix {
    margin-top: -16px;
    color: #ffffff;
    text-align: left;
    /*  border-top: 0.84375em solid transparent; */
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #ffffff;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(9, 102, 126) !important;
  }
}

.select-destinatario {
  border-color: rgb(9, 102, 126);
  border-style: solid;
  border-radius: 10px;
  margin-top: 3px;
  height: 35px;
  border-width: thin;
  padding-top: 6px;
  padding-left: 1px;
  //background-color: #ffffff;
  background: rgb(9, 102, 126);
  color: #ffffff;
}

#sele-destino {
  ::ng-deep.mat-form-field-infix {
    margin-top: -16px;
    color: #ffffff;
    text-align: left;
    /*  border-top: 0.84375em solid transparent; */
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #ffffff;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(164, 199, 207) !important;
  }
}

.select-destino {
  border-color: rgb(164, 199, 207);
  border-style: solid;
  border-radius: 10px;
  margin-top: 3px;
  height: 35px;
  border-width: thin;
  padding-top: 6px;
  padding-left: 1px;
  //background-color: #ffffff;
  background: rgb(9, 102, 126);
  color: #ffffff;
}


#sele-destSolicitud {
  ::ng-deep .mat-form-field-infix {
    margin-top: -16px;
    color: #ffffff;
    text-align: left;
    /*  border-top: 0.84375em solid transparent; */
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #ffffff;
  }

  ::ng-deep .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(179, 215, 237) !important;
  }
}

.select-destSolicitud {
  border-color: rgb(0, 123, 193);
  border-style: solid;
  border-radius: 10px;
  margin-top: 3px;
  height: 35px;
  border-width: thin;
  padding-top: 6px;
  padding-left: 1px;
  //background-color: #ffffff;
  background: rgb(0, 123, 193);
  color: #ffffff;
}

.select-destSolicitud-disabled {
  border-color: rgb(179, 215, 237);
  background: rgb(179, 215, 237);
  border-style: solid;
  border-radius: 10px;
  margin-top: 3px;
  height: 35px;
  border-width: thin;
  padding-top: 6px;
  padding-left: 1px;
  //background-color: #ffffff;
  color: #ffffff;
}


#sele-zona {
  ::ng-deep.mat-form-field-infix {
    margin-top: -16px;
    color: #ffffff;
    text-align: left;
    /*  border-top: 0.84375em solid transparent; */
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #ffffff;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(179, 215, 237) !important;
  }
}

.select-zona {
  border-color: rgb(0, 123, 193);
  border-style: solid;
  border-radius: 10px;
  height: 35px;
  border-width: thin;
  padding-top: 6px;
  padding-left: 1px;
  //background-color: #ffffff;
  background: rgb(0, 123, 193);
  color: #ffffff;
}

.select-zona-disabled {
  border-color: rgb(179, 215, 237);
  background: rgb(179, 215, 237);
  border-style: solid;
  border-radius: 10px;
  margin-top: 3px;
  height: 35px;
  border-width: thin;
  padding-top: 6px;
  padding-left: 1px;
  //background-color: #ffffff;
  color: #ffffff;
}

#sele-contrato {
  ::ng-deep.mat-form-field-infix {
    margin-top: -16px;
    color: #ffffff;
    text-align: left;
    /*  border-top: 0.84375em solid transparent; */
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #ffffff;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(179, 215, 237) !important;
  }
}

.select-contrato {
  border-color: rgb(0, 123, 193);
  border-style: solid;
  border-radius: 10px;
  height: 35px;
  border-width: thin;
  padding-top: 6px;
  padding-left: 1px;
  //background-color: #ffffff;
  background: rgb(0, 123, 193);
  color: #ffffff;
}

.select-contrato-disabled {
  border-color: rgb(179, 215, 237);
  background: rgb(179, 215, 237);
  border-style: solid;
  border-radius: 10px;
  margin-top: 3px;
  height: 35px;
  border-width: thin;
  padding-top: 6px;
  padding-left: 1px;
  //background-color: #ffffff;
  color: #ffffff;
}

#sele-acciones {
  :host /deep/ .mat-form-field-infix {
    margin-top: -3px;
    color: #ffffff;
    text-align: left;
    /*  border-top: 0.84375em solid transparent; */
  }

  :host /deep/ .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #ffffff;
  }

  :host /deep/ .mat-form-field-label {
    /*change color of label*/
    color: #ffffff;
  }

  :host /deep/ .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(164, 199, 207) !important;
  }

}

:host /deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(244, 239, 239, 0.54) !important;
}


::ng-deep .mat-form-field-underline {
  background-image: none !important;
}

::ng-deep .egret-indigo .mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #fff !important;
}




.mat-raised-button[disabled] {
  background-color: rgb(107, 119, 136) !important;
}

::ng-deep .mat-form-field-hide-placeholder .mat-select-placeholder {
  color: #ffffff;
}






.notifica {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  position: absolute;
  top: -8px;
  right: -10%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
}

.card_filtro {
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 5px;
}



// sacar el color de la linea de los select
:host /deep/ .mat-form-field-underline {
  background-color: rgba(255, 255, 255, 0) !important;
}

// Sacar el molesto border de colores de los botones
::ng-deep .egret-indigo button.m-0.mat-icon-button.mat-m-0.cdk-focused.cdk-mouse-focused {
  outline: none;
}

::ng-deep .egret-indigo button.mat-icon-button.cdk-focused.cdk-program-focused {
  outline: none;
}

::ng-deep .egret-indigo button.mat-cupo-solicitar.mat-fab.mat-accent.cdk-focused.cdk-program-focused {
  outline: none;
}


// Estilo a la barra de desplazamiento
.scrollbar {
  overflow-x: hidden;
}

::ng-deep .fixed-topbar .rightside-content-hold {
  overflow: unset !important;
}
