<br />
<div class="m-333">
  <h4 style="color:#124A99;">Estandáres de Comercialización</h4>
</div>
<div class="m-333">
  <!-- <span fxFlex></span> -->
  <button
    mat-raised-button
    class="mb-05"
    color="primary"
    (click)="openPopUp({}, true)"
  >
    Agregar Estandar
  </button>
</div>
<mat-card class="p-0">
  <mat-card-content class="p-0">
    <mat-form-field
      class="p-5"
      style="padding:8px;margin:15px auto;width:30%;"
      class="example-full-width"
    >
      <mat-label>
        <mat-icon matPrefix>search</mat-icon> Buscar Estandar de
        comercializaciòn</mat-label
      >
      <input matInput (keyup)="updateFilter($event)" />
    </mat-form-field>
    <ngx-datatable
      class="material ml-0 mr-0"
      [rows]="estandar"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [externalPaging]="true"
      [count]="page.totalElements"
      [offset]="page.pageNumber"
      [limit]="page.size"
      (page)="setPage($event)"
      [rowHeight]="'auto'"
    >
      <ngx-datatable-column name="Descripción" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.descripcion }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Acciones" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button
            mat-icon-button
            mat-sm-button
            color="primary"
            class="mr-1"
            matTooltip="Actualizar"
            (click)="openPopUp(row)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            mat-sm-button
            color="primary"
            class="mr-1"
            matTooltip="Subir PDF"
            (click)="subir(row)"
          >
            <mat-icon>description</mat-icon>
          </button>
          <a
            target="_blank"
            [disabled]="row?.pdf === 0 ? true : false"
            href="{{ ruta }}{{ row?.id }}"
            mat-icon-button
            mat-sm-button
            color="primary"
            class="mr-1"
            matTooltip="Descargar"
            download
            ><mat-icon>file_download</mat-icon></a
          >
          <button
            mat-icon-button
            mat-sm-button
            color="warn"
            class="mr-1"
            matTooltip="Eliminar"
            (click)="deleteItem(row)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
</mat-card>
