.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-select-value {
  margin: 15px 0;
}

table {
  width: 100%;
}

.mat-column-nombre_persona {
  width: 15%;
  text-align: left;
}

.mat-column-cuit_persona {
  width: 8%;
  text-align: center;
}

.mat-column-localidad_persona {
  width: 10%;
  text-align: left;
}

.mat-column-desc_tipo {
  width: 8%;
  text-align: left;
}

.mat-column-tipo_interviniente {
  width: 8%;
  text-align: center;
}

.mat-column-visualiza_flota_intermediario {
  width: 5%;
  text-align: center;
}

.mat-column-km {
  width: 5%;
  text-align: center;
}

.mat-column-condiciones {
  width: 5%;
  text-align: center;
}

.mat-column-ve_choferes_libres {
  width: 5%;
  text-align: center;
}

.mat-column-dador_cupo {
  width: 4%;
  text-align: center;
}

.mat-column-cliente_final {
  width: 4%;
  text-align: center;
}

.mat-column-linea_whatsapp {
  width: 4%;
  text-align: center;
}

.mat-column-contratoRequerido {
  width: 4%;
  text-align: center;
}
.mat-column-usaCupera {
  width: 4%;
  text-align: center;
}

.mat-column-asDestinatario {
  width: 4%;
  text-align: center;
}

.mat-column-acciones {
  width: 4%;
  text-align: center;
}
