<mat-card-title class="">
    <h1 matDialogTitle>{{ data.title }}</h1>
    <mat-divider></mat-divider>
</mat-card-title>

<form [formGroup]="itemForm" (ngSubmit)="submit()">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="50" class="pr-1" hidden>
            <mat-form-field class="full-width">
                <input matInput name="id" [formControl]="itemForm.controls['id']" placeholder="" />
            </mat-form-field>
        </div>
        <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
                <input type="text" maxlength="2000" placeholder="Destino-Descripción" aria-label="Destino-Descripción" matInput [formControl]="itemForm.controls['id_destino']" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" class="mb-1">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.descripcion}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="warn" type="button" (click)="dialogRef.close(false)">
        Cancelar
      </button>
            <span fxFlex></span>
            <button mat-raised-button color="primary" [disabled]="itemForm.invalid">
        Guardar
      </button>
        </div>
    </div>
</form>
