:host /deep/ .mat-select-value-text {
  color: rgb(16, 17, 16) !important;
}
:host /deep/ .mat-form-field-infix {
  margin-top: 7px;
  color: #00020a;
  /*  border-top: 0.84375em solid transparent; */
}

:host /deep/ .egret-indigo .mat-select-arrow {
  color: #00020a;
}

:host /deep/ .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #00020a;
}

:host /deep/.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #00020a !important;
}

:host /deep/ .mat-datepicker-toggle-default-icon {
  color: rgb(8, 0, 0);
  margin-top: -10px;
  margin-right: 12px;
  font-size: x-large;
}
