<div id="global" class="container-fluid mb-5">

<div class="col-sm-12" style="padding: 20px 50px;">
                    <div class="titulo">
                      <h1>Política de Privacidad</h1>
                    </div>
                    <br>

                    <div class="cuerpo" id="pp">
                      <div class="subtitulo" #accept>
                        <h2>1. Su privacidad es importante para Bolsa de Comercio de Rosario</h2>
                      </div>

                      <p>
                        La presente Política de Privacidad determina el tratamiento que Bolsa de Comercio de Rosario (CUIT: 30526414086),
                        de ahora en más BCR, dará a los datos personales recibidos por parte de los TRANSPORTISTAS y CLIENTES,
                        y que estará en un todo de acuerdo a lo establecido en la Ley Nacional N° 25.326.
                      </p>

                      <p>
                        El ingreso por parte de los TRANSPORTISTAS y CLIENTES de datos personales
                        o información confidencial al SISTEMA, implica su aceptación a las presentes
                        políticas de privacidad.
                      </p>

                      <p>
                        BCR. no recoge ningún tipo de información personal sin que la misma sea
                        explícitamente provista por los CLIENTES y/o USUARIOS y/o
                        TRANSPORTISTAS voluntariamente.
                      </p>

                      <p>
                        En ningún caso, BCR. solicitará a Ud. datos sensibles, entendiendo por tales a
                        aquellos datos personales que revelan origen racial y étnico, opiniones políticas,
                        convicciones religiosas, filosóficas o morales, afiliación sindical e información
                        referente a la salud o a la vida sexual.
                      </p>

                      <p>
                        Cada CLIENTE visualiza exclusivamente los datos que ingresó al sistema como
                        propios y/o de sus usuarios habilitados. La información que cada CLIENTE cargue
                        en relación con sus TRANSPORTISTAS, destinos, lugares de carga, tipos de
                        carga, cupos, turnos y el resto de información cargada en el SISTEMA es de
                        estricta propiedad de cada empresa y BCR. se compromete a no divulgarla bajo
                        ningún concepto.
                      </p>

                      <p>
                        Los TRANSPORTISTAS sólo pueden visualizar el viaje que le ha sido asignado.
                        En ningún caso podrán acceder a datos que permitan la identificación de la
                        operación y/o equipos que no sea información relativa a sus viajes asignados.
                      </p>

                      <p>
                        Los datos solicitados serán utilizados exclusivamente para su inclusión en una
                        base de datos de titularidad de BCR., indispensables para una eficaz gestión del
                        SISTEMA JAKUE y serán tratados de conformidad con los fines establecidos
                        en el presente documento.
                      </p>

                      <p>
                        BCR. usará los datos recogidos en las distintas interfaces de la plataforma
                        MUVIN, sólo en aquellos casos que sea necesario. También utilizaremos dichos
                        datos para mejorar nuestro sistema y la gestión de fletes, proporcionar asistencia
                        a nuestros clientes y/o TRANSPORTISTAS, con fines estadísticos, de
                        investigación y desarrollo de nuevos productos y para permitir el desarrollo de
                        nuevas aplicaciones y/o funciones que mejoren la comunicación entre usuarios,
                        aplicando procedimientos de disociación de la información, de modo que los
                        titulares de los datos sean inidentificables.
                      </p>

                      <div class="subtitulo" #accept>
                        <h2>  2. Información recopilada y su uso</h2>
                      </div>

                      <p>
                        APP CHOFERES recibe información de sus usuarios cuando Ud. instala o
                         hace uso de la aplicación. La información personal que se reciba será
                         tratada en forma confidencial. Ud. proporciona su número de teléfono móvil,
                          el acceso a su ubicación en segundo plano, acceso a su cámara para escanear
                          el código de barras de la CCPP,  e información sobre la red móvil para obtener
                          datos sobre su conexión.
                      </p>

                      <p>
                        APP CHOFERES recibe su número de teléfono para crear una cuenta asociada a su número
                         de CUIL/CUIT. Al crear una cuenta Ud. confirma que nos está autorizando a guardar
                         sus datos en nuestra base.
                      </p>

                      <p>
                        Recopilamos información sobre la ubicación de su dispositivo para mejorar la funcionalidad de viajes. Ud. declara conocer que la
                         APP Choferes requiere su geolocalización. Cediéndonos el acceso a su ubicación de su dispositivo móvil,
                          nos permite a nosotros y a otros usuarios del SISTEMA, obtener información sobre su localización con
                          l fin de conectar a todos los sectores de la cadena agroindustrial, permitiendo la asignación y
                          coordinación de viajes, oferta de transporte y el seguimiento del estado de las cargas.
                      </p>

                      <p>
                        El TRANSPORTISTA podrá ejercer los siguientes derechos ante BCR:
                      </p>

                      <ul>
                        <li>
                          Solicitar y obtener información en forma gratuita de sus datos personales
                        incluidos en la base de datos de BCR. destinada a proveer informes.
                        </li>

                        <li>
                          Solicitar la rectificación, actualización, supresión, confidencialidad de los
                        datos personales de los que sea titular cuando ellos no sean correctos o no
                        estén actualizados, si fuere procedente.
                        </li>
                      </ul>

                      <p>
                        En cada oportunidad en que el TRANSPORTISTA haga uso del SISTEMA, existe
                        la posibilidad que, de manera automática, obtenga y almacene información en los
                        registros del servidor. Estos datos podrán incluir:
                      </p>

                      <ul>
                        <li>Información detallada sobre utilización del servicio</li>
                        <li>Dirección de IP</li>
                        <li>Cookies, que permitirán identificar tu navegador o tu cuenta.</li>
                      </ul>

                      <p>
                        Ante cualquier duda, queja o sugerencia acerca de este documento o el
                        tratamiento de sus datos por parte de BCR., por favor póngase en contacto con
                        nosotros.
                      </p>

                      <p>
                        BCR. se reserva el derecho de modificar el contenido del documento de
                        privacidad de datos personales con el objeto de adaptarlo a las novedades
                        legislativas o jurisprudenciales.
                      </p>

                    </div>
                    <br>
                    <br>

 </div>
</div>
