table {
  width: 100%;
}

.chofer{
border-color: #F5F6FA;border: #F5F6FA;
background-color: rgb(213, 216, 228);
border-radius: 23px;
padding: 1rem !important;
}


.ngx-datatable{
width: 100%;
}

.datosPedido{
background: #EEEEEC;
padding: 0px;
margin-top: -46px;
}

#Choferes_seleccionados{
height: 350px;
overflow: auto;
}


.agm-map {
  width: 100%;
}
.map {
  width: 100%;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 500px;
}
.myButton{
  width: 500px;
}

/deep/ .row-color {
  background-color: rgb(197, 210, 211);
}
.row-color {
  background-color: rgb(197, 210, 211);
}



/*----------Poner fijo--------------*/
.example-container {
height: 350px;
overflow: auto;
}

.mat-paginator-sticky {
bottom: 0px;
position: sticky;
z-index: 10;
}
/*------------------*/
