h5 {
  color: white;
  margin-left: 0px;
}
.estilo_card {
  margin-top: -24px !important;
  margin-left: -24px !important;
  margin-right: -24px !important;
  box-shadow: none !important;
}
.titulo-fondo {
  background: #00498E;
  height: 50px;
}
.subtitulo-fondo {
  background: #E0E0E0;
  height: 55px;
  padding-top: 21px;
}
.cerrar_popup {
  cursor: pointer
}
table {
  width: 100%;
}

