table {
  width: 100%;    
}

.mat-column-nombre {    
  width: 30%;
}
.mat-column-viajes {    
  width: 10%;
}
.mat-column-premio {    
  width: 10%;
}
.mat-column-sancion {    
  width: 10%;
}
.mat-column-telefono {    
  width: 10%;
}
.mat-column-cupo {    
  width: 10%;
}
.mat-column-acciones {    
  width: 10%;
}
.mat-column-observ {    
  width: 10%;
}
