table {
    width: 100%;
}
.mat-column-inicio {
    width: 40%;
    text-align: left;
}
.mat-column-fin {
    width: 30%;
    text-align: left;
}
.mat-column-acciones {
    width: 30%;
    text-align: left;
}
.time-picker{
    z-index : 99999999;
}