
   #global {
	height: 100%;
	width: 100%;
	border: 1px solid #ddd;
	background: #ffffff;
	overflow-y: scroll;
    overflow-x: hidden;

}
.titulo{
    color: #24529e;font-weight: bold;text-align: left;font-size: 30px;
}

.subtitulo{
    color: #24529e;
    font-weight: bold;
    text-align: left;
    padding-bottom: 17px;
}
