<h1 matDialogTitle>{{ data.title }}</h1>
<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50" class="pr-1" hidden>
      <mat-form-field class="full-width">
        <input
          matInput
          name="id"
          [formControl]="itemForm.controls['id']"
          placeholder="Id del producto"
        />
      </mat-form-field>
    </div>
    <div fxFlex="100" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          name="nombre"
          [formControl]="itemForm.controls['nombre']"
          placeholder="Nombre"
          #nombre
          maxlength="50"
        />
        <mat-hint align="end">{{ nombre.value.length }} / 100</mat-hint>
      </mat-form-field>
      <small
        *ngIf="
          itemForm.controls['nombre'].hasError('required') &&
          itemForm.controls['nombre'].touched
        "
        class="form-error-msg"
      >
        La Descripción es obligatoria
      </small>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          name="fecha"
          formControlName="fecha"
          placeholder="Fecha"
          [matDatepicker]="appDatepicker"
        />
        <mat-datepicker-toggle matSuffix [for]="appDatepicker">
        </mat-datepicker-toggle>
      </mat-form-field>
      <mat-datepicker #appDatepicker></mat-datepicker>
    </div>
    <!-- <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
      <mat-checkbox class="example-radio-button" [formControl]="itemForm.controls['vigente']">
        Vigente: &nbsp;
      </mat-checkbox>
    </div> -->
    <div fxFlex="100" class="mt-1">
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="dialogRef.close(false)"
      >
        Cancelar
      </button>
      <span fxFlex></span>
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">
        Guardar
      </button>
    </div>
  </div>
</form>
