#input_mensaje {
  ::ng-deep .mat-form-field-infix {
    margin-top: 7px;
    color: #3F51B5;
    /*  border-top: 0.84375em solid transparent; */
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #3F51B5;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #3F51B5 !important;
  }
}
