.mat-dialog-container{
    padding: 0px;
}
.agm-map {
    width: 100%;
  }
  .map {
    width: 100%;    
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 400px;
    background: #00AEEF;
  }