<br>
<div class="m-333">
    <h4 style="color:#124A99;">Camiones</h4>
</div>
<div class="m-333">
  <!-- <span fxFlex></span> -->
  <button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">Agregar Camión</button>
</div>
<mat-card class="p-0">
  <mat-card-content class="p-0">
    <mat-form-field  class="p-5"  style='padding:8px;margin:15px auto;width:30%;'  class = "example-full-width"> 
      <mat-label> <mat-icon matPrefix>search</mat-icon> Buscar Patente Camión</mat-label>
      <input  matInput (keyup)='updateFilter($event)'> 
    </mat-form-field>
    <ngx-datatable class="material ml-0 mr-0" [rows]="camiones" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [limit]="10" [rowHeight]="'auto'">
      <!-- <ngx-datatable-column name="No." [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.id }}
        </ng-template>
      </ngx-datatable-column> -->
      <ngx-datatable-column name="Marca" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.nombre_marca_camion }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tipo" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.nombre_tipo_camion }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Año" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.anno }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Patente" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.patente }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Carga peligrosa" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.desc_carga_peligrosa }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Bloqueado" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.desc_bloqueado }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Acciones" [flexGrow]="2">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-icon-button mat-sm-button color="primary" matTooltip="Bloquear" class="mr-1" *ngIf="!row.bloqueado" (click)="bloquearCamion(row)"><mat-icon>lock_open</mat-icon></button> 
          <button mat-icon-button mat-sm-button color="primary" matTooltip="Desbloquear" class="mr-1" *ngIf="row.bloqueado" (click)="desBloquearCamion(row)"><mat-icon>lock_outline</mat-icon></button>
          <button mat-icon-button mat-sm-button color="primary" matTooltip="Actualizar"  class="mr-1" (click)="openPopUp(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button mat-sm-button color="warn" matTooltip="Eliminar"  (click)="deleteItem(row)">
            <mat-icon>delete</mat-icon>
          </button>
          <!--button mat-menu-item *ngIf="row.bloqueado" (click)="desBloquearCamion(row)">
            <mat-icon>lock</mat-icon> </button>
          <button mat-menu-item *ngIf="!row.bloqueado" (click)="bloquearCamion(row)">
            <mat-icon>lock</mat-icon> </button-->
           
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
</mat-card>