<div class="componentInfo" fxLayout="row wrap">
  <div class="encabezadoInfo" fxLayout="row wrap">
    <div fxFlex="100" fxLayoutAlign="start center">
      <div fxFlex="6"></div>
      <div fxFlex="84" fxLayoutAlign="start center">
        <strong>{{title}} {{cabecera.titulo}} </strong>
      </div>
      <div fxFlex="10">
        <button mat-icon-button matTooltip="Cerrar ver carta porte" color="m-0" class="m-0" (click)="cerrar()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="cuerpoInfo" fxLayout="column wrap" fxLayoutAlign="center center">

      <div fxFlex="100" [style.width]="styleWidth" [style.font-size]="fontSize">
        <div fxLayout="row wrap" class="emisor" fxLayoutAlign="center center">
          <div fxFlex="100" [style.height]="height4Row">
            <div fxFlex="33" class="border-der">
              <img src="assets/images/carta-porte/header1.png" alt=""
                style="height: 90px;width: 100%;margin-top: 10px;">
            </div>
            <div fxFlex="67">
              <div fxLayout="100" class=" border-abajo" fxLayout="row wrap" [style.height]="height2Row"
                fxLayoutAlign="start start">
                <div fxFlex="50">
                  <img src="assets/images/carta-porte/header2.png" style="height: 48px;width: 100%;">
                </div>
                <div fxFlex="50">
                  <img src="assets/images/carta-porte/header3.png" style="height: 48px;width: 100%;">
                </div>
              </div>
              <div fxLayout="100" fxLayout="row wrap" fxLayoutAlign="start center" [style.height]="height2Row">
                <div fxFlex="50" class=" border-der" [style.height]="height2Row" fxLayoutAlign="start start">
                  <strong class="margen-izq">CTG:</strong>
                </div>
                <div fxFlex="50" fxLayout="row wrap">
                  <div fxFlex="100" class="border-abajo" fxLayoutAlign="start center">
                    <span class="margen-izq">Fecha Carga:</span>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <span class="margen-izq">Fecha Vencimiento:</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" class="inca" fxLayoutAlign="center center">
          <div fxFlex="100" fxLayoutAlign="center center">
            <strong>CARTA DE PORTE PARA EL TRANSPORTE AUTOMOTOR DE GRANOS- PRODUCTOR (Inc.a) </strong>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="100" style="background-color: #ffffff; " fxLayoutAlign="start start">
            <div fxFlex="3" [style.height]="heightInter"
              style="border-style: solid; border-width: 1px; border-radius: 10px;margin-top:1px;"
              fxLayoutAlign="center center">
              <strong class="rotate90">1 - INTERVENIENTES</strong>
            </div>
            <div fxFlex="97" style="margin-top:1px;">
              <table width="100%" border="1" cellspacing="0" cellpadding="0" style="margin-left: 3px;">
                <tbody style="margin-top: 2px;">
                  <tr>
                    <td style="width: 30%;margin-left:2px; ">
                      <strong>Titular Carta Porte</strong>
                    </td>
                    <td style="width: 35%;">
                      <span *ngIf="cabecera.nombreTitular"> {{cabecera.nombreTitular}}</span>

                    </td>
                    <td style="width: 10%;"> <strong>CUIT Nro</strong> </td>
                    <td style="width: 20%;">
                      <span *ngIf="cabecera.idCuitTitula"> {{cabecera.idCuitTitula}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Intermediario</td>
                    <td>
                      <span *ngIf="cabecera.nombreIntermediario
  ">{{cabecera.nombreIntermediario
                        }}</span>
                    </td>
                    <td>CUIT Nro </td>
                    <td>
                      <span *ngIf="cabecera.idCuitIntermediario">{{cabecera.idCuitIntermediario}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Remitente Comercial</td>
                    <td>
                      <span *ngIf="cabecera.nombreRemitente
  ">{{cabecera.nombreRemitente
                        }}</span>
                    </td>
                    <td>CUIT Nro </td>
                    <td>
                      <span *ngIf="cabecera.idCuitRemComercial">{{cabecera.idCuitRemComercial}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Corredor comprador</td>
                    <td>
                      <span *ngIf="cabecera.nombreCorredorComprador">{{cabecera.nombreCorredorComprador}}</span>
                    </td>
                    <td>CUIT Nro </td>
                    <td>
                      <span *ngIf="cabecera.idCuitCorredorC">{{cabecera.idCuitCorredorC}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Mercado a término</td>
                    <td>
                      <span *ngIf="cabecera.nombreMercadoATermino"> {{cabecera.nombreMercadoATermino}}</span>
                    </td>
                    <td>CUIT Nro </td>
                    <td>
                      <span *ngIf="cabecera.idCuitMercadoATermino">{{cabecera.idCuitMercadoATermino}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Corredor vendedor</td>
                    <td>
                      <span *ngIf="cabecera.nombreCorredorVendedor">{{cabecera.nombreCorredorVendedor}}</span>
                    </td>
                    <td>CUIT Nro </td>
                    <td>
                      <span *ngIf="cabecera.idCuitCorredorV"> {{cabecera.idCuitCorredorV}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Representante/Entregador</td>
                    <td>
                      <span *ngIf="cabecera.nombreEntregador">{{cabecera.nombreEntregador}}</span>
                    </td>
                    <td>CUIT Nro </td>
                    <td>
                      <span
                        *ngIf="cabecera.idCuitRepresentanteEntregador">{{cabecera.idCuitRepresentanteEntregador}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Destinatario</td>
                    <td>
                      <span *ngIf="cabecera.nombreDestinatario">{{cabecera.nombreDestinatario}}</span>
                    </td>
                    <td>CUIT Nro </td>
                    <td>
                      <span *ngIf="cabecera.idCuitDestinatario">{{cabecera.idCuitDestinatario}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Destino</td>
                    <td>
                      <span *ngIf="cabecera.nombreDestino">{{cabecera.nombreDestino}}</span>
                    </td>
                    <td>CUIT Nro </td>
                    <td>
                      <span *ngIf="cabecera.idCuitDestino">{{cabecera.idCuitDestino}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Intermediario del Flete</td>
                    <td>
                      <span *ngIf="cabecera.nombreIntermediarioFlete
  ">{{cabecera.nombreIntermediarioFlete
                        }}</span>
                    </td>
                    <td>CUIT Nro </td>
                    <td>
                      <span *ngIf="cabecera.idCuitIntermediarioFlete">{{cabecera.idCuitIntermediarioFlete}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Transportista</td>
                    <td>
                      <span *ngIf="cabecera.nombreTransportista">{{cabecera.nombreTransportista}}</span>
                    </td>
                    <td>CUIT Nro </td>
                    <td>
                      <span *ngIf="cabecera.idCuitTransportista">{{cabecera.idCuitTransportista}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Chofer</td>
                    <td>
                      <span *ngIf="cabecera.nombreChofer">{{cabecera.nombreChofer}}</span>
                    </td>
                    <td>CUIT/CUIL </td>
                    <td>
                      <span *ngIf="cabecera.idCuitChofer">{{cabecera.idCuitChofer}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="100" style="background-color: #ffffff; " fxLayoutAlign="start start">
            <div fxFlex="3" [style.height]="heightGranos"
              style="border-style: solid; border-width: 1px; border-radius: 10px;margin-top:1px;"
              fxLayoutAlign="center center">
              <strong class="rotate90">2 - GRANOS / ESPECIES</strong>
            </div>
            <div fxFlex="97" fxLayout="row wrap" fxLayoutAlign="start start" style="margin-top:2px; ">
              <div fxFlex="100" style="height: 25px;">
                <div fxFlex="15" class="margen-izq border-todo"> <span class="margen-izq">Grano/Especie</span></div>
                <div fxFlex="13" class="border-abajo border-arriba border-der"></div>
                <div fxFlex="7" class="border-abajo border-arriba border-der"><span class="margen-izq">Tipo</span></div>
                <div fxFlex="15" class="border-abajo border-arriba border-der"></div>
                <div fxFlex="10" class="border-abajo border-arriba border-der"><span class="margen-izq">Cosecha</span>
                </div>
                <div fxFlex="15" class=" border-abajo border-arriba border-der"></div>
                <div fxFlex="12" class=" border-abajo border-arriba border-der"><span class="margen-izq">Contrato/Fijación
                    Nro</span></div>
                <div fxFlex="13" class=" border-abajo border-arriba border-der">{{cabecera.nroContrato}}</div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center center" class="border-izq border-der"
                style="margin-left: 3px; height: 75px;">
                <div fxFlex="75">
                  <div fxFlex="100">
                    <div fxFlex="28" fxLayout="row wrap" style="height: 75px;" class="border-abajo border-der">
                      <div fxFlex="100" style="height: 50px;" fxLayout="row wrap">
                        <div fxFlex="100"> <span class="margen-izq"> La carga será pesada </span></div>
                        <div fxFlex="100">
                          <div fxFlex="70"><span class="margen-izq">en el destino </span></div>
                          <div fxFlex="13" fxLayoutAlign="center center">
                            <div class="circulo"></div>
                          </div>
                          <div fxFlex="17"></div>
                        </div>
                      </div>
                      <div fxFlex="100" style="height: 25px;" class=" border-abajo" fxLayout="row wrap">
                        <div fxFlex="75" class="border-der border-arriba">
                          <span class="margen-izq">Kgs. Estimados</span>
                        </div>
                        <div fxFlex="25" class="border-arriba"></div>
                      </div>
                    </div>
                    <div fxFlex="35" style="height: 75px;" fxLayout="row wrap" class="border-abajo border-der">
                      <div fxFlex="100" fxLayoutAlign="center center">
                        <span fxFlex="85" class="margen-izq"> Declaración de Calidad </span>
                        <div fxFlex="10">
                          <div class="circulo"></div>
                        </div>

                        <div fxFlex="5"></div>
                      </div>
                      <div fxFlex="100" class="border-arriba" fxLayoutAlign="center center">
                        <span fxFlex="85" class="margen-izq">Conforme</span>
                        <div fxFlex="10">
                          <div class="circulo"></div>
                        </div>
                        <div fxFlex="5"></div>
                      </div>
                      <div fxFlex="100" class="border-arriba" fxLayoutAlign="center center">
                        <span fxFlex="85" class="margen-izq ">Condicional</span>
                        <div fxFlex="10">
                          <div class="circulo"></div>
                        </div>
                        <div fxFlex="5"></div>
                      </div>
                    </div>
                    <div fxFlex="25" style="height: 75px;" fxLayout="row wrap" class="border-abajo border-der">
                      <div fxFlex="100" class="border-abajo " fxLayoutAlign="center center">
                        <span class="margen-izq">Peso Bruto (Kgrs.)</span>
                      </div>
                      <div fxFlex="100" class="border-abajo " fxLayoutAlign="center center">
                        <span class="margen-izq">Peso Tara (Kgrs.)</span>
                      </div>
                      <div fxFlex="100" fxLayoutAlign="center center">
                        <span class="margen-izq">Peso Neto (Kgrs.)</span>
                      </div>
                    </div>
                    <div fxFlex="12" style="height: 75px;" fxLayout="row wrap" class="border-abajo border-der">
                      <div fxFlex="100" class="border-abajo ">
                      </div>
                      <div fxFlex="100" class="border-abajo ">
                      </div>
                      <div fxFlex="100">
                      </div>
                    </div>
                  </div>
                </div>
                <div fxFlex="25">
                  <div fxFlex="100">
                    <div fxFlex="100" fxLayout="row wrap" style="height: 75px;" class="border-abajo">
                      <div fxFlex="100" style="height: 50px;" fxLayout="row wrap">
                        <div fxFlex="100">
                          <span class="margen-izq">Observaciones:</span>
                        </div>
                        <div fxFlex="100">
                          <span class="margen-izq"
                            *ngIf="cabecera.nombreIntermediario1">{{cabecera.nombreIntermediario1.substr(0,25)}}</span>
                        </div>
                        <div fxFlex="100">
                          <span class="margen-izq"
                            *ngIf="cabecera.nombreIntermediario2">{{cabecera.nombreIntermediario2.substr(0,25)}}</span>
                        </div>
                        <div fxFlex="100">
                          <span class="margen-izq"
                            *ngIf="cabecera.caratulaMercadoATermino">{{cabecera.caratulaMercadoATermino.substr(0,17) +
                            ', '}}</span>
                          <span class="margen-izq"
                            *ngIf="cabecera.comentario">{{cabecera.comentario.substr(0,17)}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div fxFlex="100" style="height: 25x;">
                <div fxFlex="60" fxLayoutAlign="center center" class="margen-izq border-izq border-abajo border-der">
                  <strong>PROCEDENCIA DE LA MERCADERÍA</strong>
                </div>
                <div fxFlex="17" class=" border-abajo border-der"><span class="margen-izq">Establecimiento</span></div>
                <div fxFlex="23" class=" border-abajo border-der"></div>
              </div>
              <div fxFlex="100" style="height: 50px;">
                <div fxFlex="10" fxLayoutAlign="center center" class="margen-izq border-izq border-abajo"> <span
                    class="margen-izq">Dirección</span></div>
                <div fxFlex="50" fxLayoutAlign="center center" class="border-izq border-abajo border-der"> </div>
                <div fxFlex="17" fxLayout="row wrap" class="border-der">
                  <div fxFlex="100" class="border-abajo ">
                    <span class="margen-izq">Localidad</span>
                  </div>
                  <div fxFlex="100" class="border-abajo ">
                    <span class="margen-izq">Provincia</span>
                  </div>
                </div>
                <div fxFlex="23" fxLayout="row wrap">
                  <div fxFlex="100" class="border-abajo border-der">
                  </div>
                  <div fxFlex="100" class="border-abajo border-der">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="100" [style.height]="height2Row" style="background-color: #ffffff;margin-top:2px;"
            class="border-todo class-border1px class-radius" fxLayoutAlign="start center" fxLayout="row wrap">
            <div fxFlex="100" [style.height]="heightRow">
              <div fxFlex="5" fxLayoutAlign="center center" class="border-abajo">
                <strong class="margen-izq">3</strong>
              </div>
              <div fxFlex="45" fxLayoutAlign="start center" class="border-izq border-abajo border-der">
                <strong class="margen-izq">DESTINO</strong>
              </div>
              <div fxFlex="20" class="border-abajo border-der">
                <span class="margen-izq">Localidad</span>
              </div>
              <div fxFlex="30" class="border-abajo">

              </div>
            </div>
            <div fxFlex="100" [style.height]="heightRow">
              <div fxFlex="10" fxLayoutAlign="start center"> <span class="margen-izq ">Dirección</span></div>
              <div fxFlex="40" fxLayoutAlign="center center" class="border-izq border-der"> </div>
              <div fxFlex="20" class="border-der">
                <span class="margen-izq">Provincia</span>
              </div>
              <div fxFlex="30">
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="100" [style.height]="height4Row" style="background-color: #ffffff;margin-top:2px;"
            class="border-todo class-border1px class-radius" fxLayoutAlign="start center" fxLayout="row wrap">
            <div fxFlex="100" [style.height]="heightRow">
              <div fxFlex="5" fxLayoutAlign="center center" class="border-abajo">
                <strong class="margen-izq">4</strong>
              </div>
              <div fxFlex="40" fxLayoutAlign="start center" class="border-izq border-abajo border-der">
                <strong class="margen-izq">DATOS DEL TRANSPORTE</strong>
              </div>
              <div fxFlex="20" class="border-abajo border-der">
                <span class="margen-izq">Pagador del Flete</span>
              </div>
              <div fxFlex="35" class="border-abajo">
              </div>
            </div>
            <div fxFlex="100" [style.height]="height3Row">
              <div fxFlex="50" class="border-der" fxLayout="row wrap" fxLayoutAlign="start center">
                <div fxFlex="100" [style.height]="heightRow">
                  <div fxFlex="25" class="border-abajo border-der">
                    <span class="margen-izq">Camión</span>
                  </div>
                  <div fxFlex="25" class="border-abajo border-der">
                  </div>
                  <div fxFlex="25" class="border-abajo border-der">
                  </div>
                  <div fxFlex="25" class="border-abajo">
                  </div>
                </div>
                <div fxFlex="100" [style.height]="heightRow">
                  <div fxFlex="25" class="border-abajo border-der">
                    <span class="margen-izq">Acoplado</span>
                  </div>
                  <div fxFlex="10" class="border-abajo border-der">

                  </div>
                  <div fxFlex="40" class="border-abajo border-der">
                    <span class="margen-izq">Tarifa de Referencia</span>
                  </div>
                  <div fxFlex="25" class="border-abajo">
                  </div>
                </div>
                <div fxFlex="100" [style.height]="heightRow">
                  <div fxFlex="35" class="border-der">
                    <span class="margen-izq">Km a recorrer</span>
                  </div>
                  <div fxFlex="10" class="border-der">

                  </div>
                  <div fxFlex="30" class="border-der">
                    <span class="margen-izq">Tarifa </span>
                  </div>
                  <div fxFlex="25">
                  </div>
                </div>
              </div>
              <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center">
                <div fxFlex="100" [style.height]="height3Row">
                  <div fxFlex="50" class="border-todo class-border1px class-radius" style="margin: 3px;"
                    fxLayoutAlign="center end">
                    <div fxFlex="85" class="border-arriba" fxLayoutAlign="center end">
                      <small>Firma del Remitente </small>
                    </div>
                  </div>
                  <div fxFlex="50" class="border-todo class-border1px class-radius" style="margin: 3px;"
                    fxLayoutAlign="center end">
                    <div fxFlex="85" class="border-arriba" fxLayoutAlign="center end">
                      <small>Firma del Chofer</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="100" [style.height]="height4Row" style="background-color: #ffffff;margin-top:2px;"
            class="border-todo class-border1px class-radius" fxLayoutAlign="start center" fxLayout="row wrap">
            <div fxFlex="100" [style.height]="heightRow">
              <div fxFlex="5" fxLayoutAlign="center center" class="border-abajo">
                <strong class="margen-izq">5</strong>
              </div>
              <div fxFlex="95" fxLayoutAlign="start center" class="border-izq border-abajo">
                <strong class="margen-izq">DATOS A COMPLETAR EN EL LUGAR DE DESTINO Y DESCARGA</strong>
              </div>
            </div>
            <div fxFlex="100" [style.height]="height3Row">
              <div fxFlex="70" class="border-der" fxLayout="row wrap" fxLayoutAlign="start center">
                <div fxFlex="100" [style.height]="heightRow">
                  <div fxFlex="25" class="border-abajo border-der">
                    <span class="margen-izq">Fecha Arribo</span>
                  </div>
                  <div fxFlex="15" class="border-abajo border-der">
                  </div>
                  <div fxFlex="10" class="border-abajo border-der">
                    <span class="margen-izq">Hora</span>
                  </div>
                  <div fxFlex="10" class="border-abajo border-der">
                  </div>
                  <div fxFlex="25" class="border-abajo border-der">
                    <span class="margen-izq">Peso Bruto (Kgrs.)</span>
                  </div>
                  <div fxFlex="15" class="border-abajo">
                  </div>
                </div>
                <div fxFlex="100" [style.height]="heightRow">
                  <div fxFlex="25" class="border-abajo border-der">
                    <span class="margen-izq">Fecha Descarga</span>
                  </div>
                  <div fxFlex="15" class="border-abajo border-der">
                  </div>
                  <div fxFlex="10" class="border-abajo border-der">
                    <span class="margen-izq">Hora</span>
                  </div>
                  <div fxFlex="10" class="border-abajo border-der">
                  </div>
                  <div fxFlex="25" class="border-abajo border-der">
                    <span class="margen-izq">Peso Tara (Kgrs.)</span>
                  </div>
                  <div fxFlex="15" class="border-abajo">
                  </div>
                </div>
                <div fxFlex="100" [style.height]="heightRow">
                  <div fxFlex="25" class="border-der">
                    <span class="margen-izq">Turno Nro</span>
                  </div>
                  <div fxFlex="35" class="border-der">
                  </div>
                  <div fxFlex="25" class="border-der">
                    <span class="margen-izq">Tarifa </span>
                  </div>
                  <div fxFlex="15">
                  </div>
                </div>
              </div>
              <div fxFlex="30" fxLayout="row wrap" fxLayoutAlign="start center">
                <div fxFlex="100" [style.height]="height3Row">
                  <span class="margen-izq">Observaciones:</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="100" [style.height]="height5Row" style="background-color: #ffffff;margin-top:2px;"
            class="border-todo class-border1px class-radius" fxLayoutAlign="start center" fxLayout="row wrap">
            <div fxFlex="100" [style.height]="heightRow">
              <div fxFlex="5" fxLayoutAlign="center center" class="border-abajo">
                <strong class="margen-izq">6</strong>
              </div>
              <div fxFlex="95" fxLayoutAlign="start center" class="border-izq border-abajo">
                <strong class="margen-izq">CAMBIO DEL DOMICILIO DE DESCARGA / DESVIO</strong>
              </div>
            </div>
            <div fxFlex="100" [style.height]="height4Row">
              <div fxFlex="50" class="border-der" fxLayout="row wrap" fxLayoutAlign="start center">
                <div fxFlex="100" style="height: 30px;">
                  <div fxFlex="70" class="border-abajo border-der">
                    <span class="margen-izq">CUIT Destino y Denominación</span>
                  </div>
                  <div fxFlex="30" class="border-abajo">
                  </div>
                </div>
                <div fxFlex="100" [style.height]="heightRow">
                  <div fxFlex="20" class="border-abajo border-der">
                    <span class="margen-izq">Domicilio</span>
                  </div>
                  <div fxFlex="80" class="border-abajo">
                  </div>
                </div>
                <div fxFlex="100" [style.height]="heightRow">
                  <div fxFlex="37" class="border-der">
                    <span class="margen-izq">Nro Planta RUCA</span>
                  </div>
                  <div fxFlex="23" class="border-der">
                  </div>
                  <div fxFlex="15" class="border-der">
                    <span class="margen-izq">Fecha </span>
                  </div>
                  <div fxFlex="25">
                  </div>
                </div>
                <div fxFlex="100" [style.height]="heightRow">
                  <div fxFlex="50" class="border-arriba border-der">
                    <span class="margen-izq">Traslado ordenado por</span>
                  </div>
                  <div fxFlex="50" class="border-arriba">
                  </div>
                </div>
              </div>
              <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="start center">
                <div fxFlex="100" [style.height]="heightRow">
                  <div fxFlex="70" class="border-abajo border-der">
                    <span class="margen-izq">CUIT Destino y Denominación</span>
                  </div>
                  <div fxFlex="30" class="border-abajo">
                  </div>
                </div>
                <div fxFlex="100" [style.height]="heightRow">
                  <div fxFlex="20" class="border-abajo border-der">
                    <span class="margen-izq">Localidad</span>
                  </div>
                  <div fxFlex="80" class="border-abajo">
                  </div>
                </div>
                <div fxFlex="100" [style.height]="height2Row" fxLayoutAlign="center end">
                  <div fxFlex="85" class="border-arriba" fxLayoutAlign="center end">
                    <small>Firma del Remitente </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="100" [style.height]="height3Row" style="background-color: #ffffff;margin-top:2px;" fxLayoutAlign="start center"
            fxLayout="row wrap">
            <div fxFlex="100">
              <div fxFlex="50" [style.height]="height3Row" class="border-todo class-border1px class-radius"
                style="margin: 3px;" fxLayoutAlign="center end">
                <div fxFlex="46" class="border-arriba" fxLayoutAlign="center end">
                  <small>Firma del Perito Recibidor </small>
                </div>
                <div fxFlex="8"></div>
                <div fxFlex="46" class="border-arriba" fxLayoutAlign="center end">
                  <small>Matrícula Nro </small>
                </div>
              </div>
              <div fxFlex="50" [style.height]="height3Row" class="border-todo class-border1px class-radius"
                style="margin: 3px;" fxLayoutAlign="center end">
                <div fxFlex="56" class="border-arriba" fxLayoutAlign="center end">
                  <small>Firma del Destinatario Entregador </small>
                </div>
                <div fxFlex="4"></div>
                <div fxFlex="36" class="border-arriba" fxLayoutAlign="center end">
                  <small>Matrícula Nro </small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center center" [style.height]="heightRow">

        </div>
      </div>
  </div>
</div>
<div id="btn-ver" style="z-index: 19999;">
  <div class="handle" fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="100">
      <div fxFlex="50" class="border-der" fxLayoutAlign="center center">
        <button mat-icon-button mat-sm-button (click)="aumentarVer()" matTooltip="Aumentar">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
      <!-- <div fxFlex="10" fxLayoutAlign="center center"> | </div> -->
      <div fxFlex="50" fxLayoutAlign="center center">
        <button mat-icon-button mat-sm-button (click)="disminuirVer()" matTooltip="Disminuir">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
    </div>


  </div>
</div>
