<h1 matDialogTitle>{{ data.title }}</h1>
<form (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="100" class="pr-0">
      <a *ngFor="let item of starList; let i = index" (click)="setStar(i)">
        <div *ngIf="item; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
          <label style="color: yellow; font-size: xx-large;"
            >&#9733;</label
          ></ng-template
        >
        <ng-template #elseBlock
          ><label style="color: gray; font-size: xx-large;"
            >&#9733;</label
          ></ng-template
        >
      </a>
    </div>
    <div fxFlex="100" class="mt-1">
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="dialogRef.close(false)"
      >
        Cancelar
      </button>
      <span fxFlex></span>
      <button mat-raised-button color="primary" (click)="dialogRef.close(true)">
        Guardar
      </button>
    </div>
  </div>
</form>
