<br>
<div class="m-333">
    <h4 style="color:#124A99;">Nuevos proveedores</h4>
</div>
<mat-card class="p-0">   

  <mat-card-content class="p-0">
      <form [formGroup]="bajadaForm" (ngSubmit)="Ejecutarfiltro()">
          <br>
          <div fxLayout="row wrap">
              <div fxFlex="50" fxFlex.gt-xs="5" class="pr-1">
              </div> 
              <div fxFlex="50" fxFlex.gt-xs="30" class="pr-1">
                  <mat-form-field class="full-width">
                      <input matInput name="desdeDate" formControlName="desdeDate" placeholder="Fecha Desde"
                          [matDatepicker]="appDatepicker" [max]="maxDate" (dateInput)="addEvent('input', $event, 'desde')"
                          (dateChange)="addEvent('change', $event, 'desde')">
                      <mat-datepicker-toggle matSuffix [for]="appDatepicker">
                      </mat-datepicker-toggle>

                  </mat-form-field>
                  <mat-datepicker #appDatepicker></mat-datepicker>
              </div>
              <div fxFlex="50" fxFlex.gt-xs="30" class="pr-1">
                  <mat-form-field class="full-width">
                      <input matInput name="hastaDate" formControlName="hastaDate" placeholder="Fecha hasta"
                          [matDatepicker]="appDatepicker1" [min]="minDate" (dateInput)="addEvent('input', $event, 'hasta')"
                          (dateChange)="addEvent('change', $event, 'hasta')">
                      <mat-datepicker-toggle matSuffix [for]="appDatepicker1"></mat-datepicker-toggle>
                  </mat-form-field>
                  <mat-datepicker #appDatepicker1></mat-datepicker>
              </div>
              
              <button mat-raised-button color="primary" [disabled]="bajadaForm.invalid">Filtrar</button>
          </div>
      </form>
      <button mat-icon-button mat-sm-button color="warn" (click)="exportAsXLSX()"><mat-icon>list</mat-icon>Exportar a Excel</button> 
  </mat-card-content>
  <mat-card-content class="p-0" >
    <ngx-datatable class="material ml-0 mr-0" 
      [rows]="bajadaMasiva" 
      [columnMode]="'force'" 
      [headerHeight]="50"
      [footerHeight]="50" 
      [externalPaging]="false" 
      [count]="page.totalElements" 
      [offset]="0" 
      [limit]="10"      
      [rowHeight]="'auto'">
      
      
      <ngx-datatable-column name="Id" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.id }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Razón social" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.razon_social }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="CUIT" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.cuit_cuil }}
          </ng-template>
        </ngx-datatable-column>
      <ngx-datatable-column name="Fecha" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.fecha }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tipo proveedor" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.tipo }}
        </ng-template>
      </ngx-datatable-column>
      
      
    </ngx-datatable>
  </mat-card-content>
 
</mat-card>