<div class="component" fxLayout="column wrap">
  <div class="encabezado" fxLayout="row wrap">
    <div fxFlex="100" fxLayoutAlign="start center">
      <div fxFlex="3"></div>
      <div fxFlex="80" fxLayoutAlign="start center">
        <strong>{{title | uppercase}} CABECERA </strong>
      </div>
      <div fxFlex="17"></div>
    </div>
  </div>
  <form [formGroup]="addCabeceraForm">
    <div class="cuerpo" fxLayout="column wrap">
      <div fxLayout="row wrap" fxLayoutAlign="start start">
        <div fxFlex="100">
          <div fxFlex="4"></div>
          <div fxFlex="92" class="div-cuerpo">
            <div fxFlex="100">
              <div fxFlex="5"></div>
              <div fxFlex="90" fxLayout="row wrap" fxLayoutAlign="start start">
                <div fxFlex="100" fxLayout="column wrap">
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <mat-form-field class="full-width">
                      <input matInput name="titulo" [formControl]="addCabeceraForm.controls['titulo']" max="70"
                        placeholder="Título Cabecera / Alias" #titulo />
                      <mat-hint align="end">{{titulo.value.length }} / 70</mat-hint>
                    </mat-form-field>
                    <small *ngIf="addCabeceraForm.controls['titulo'].hasError('maxlength') " class="form-error-msg">
                      Debe introducir como máximo 70 carácteres
                    </small>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nombreTitular" [formControl]="addCabeceraForm.controls['nombreTitular']"
                          placeholder="Titular Carta de Porte" #nombreTitular />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                      <mat-form-field class="full-width">
                        <input matInput name="idCuitTitula" [formControl]="addCabeceraForm.controls['idCuitTitula']"
                          placeholder="CUIT" #idCuitTitula />
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nombreRemitenteComercialProductor"
                          [formControl]="addCabeceraForm.controls['nombreRemitenteComercialProductor']" placeholder="Remitente Comercial Productor"
                          #nombreRemitenteComercialProductor />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                      <mat-form-field class="full-width">
                        <input matInput name="idCuitRemComercialProductor"
                          [formControl]="addCabeceraForm.controls['idCuitRemComercialProductor']" placeholder="CUIT"
                          #idCuitRemComercialProductor />
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nombreRemComercialVentaPrimaria"
                          [formControl]="addCabeceraForm.controls['nombreRemComercialVentaPrimaria']" placeholder="Remitente Comercial Venta Primaria"
                          #nombreRemComercialVentaPrimaria />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                      <mat-form-field class="full-width">
                        <input matInput name="idCuitRemComercialVentaPrimaria"
                          [formControl]="addCabeceraForm.controls['idCuitRemComercialVentaPrimaria']" placeholder="CUIT"
                          #idCuitRemComercialVentaPrimaria />
                      </mat-form-field>
                    </div>

                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nombreRemComercialVentaSecundaria"
                          [formControl]="addCabeceraForm.controls['nombreRemComercialVentaSecundaria']"
                          placeholder="Remitente Comercial Venta Segundaria" #nombreRemComercialVentaSecundaria />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                      <mat-form-field class="full-width">
                        <input matInput name="idCuitRemComercialVentaSecundaria"
                          [formControl]="addCabeceraForm.controls['idCuitRemComercialVentaSecundaria']" placeholder="CUIT"
                          #idCuitRemComercialVentaSecundaria />
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nombreRemComercialVentaSecundaria2"
                               [formControl]="addCabeceraForm.controls['nombreRemComercialVentaSecundaria2']"
                               placeholder="Remitente Comercial Venta Segundaria 2" #nombreRemComercialVentaSecundaria2 />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                      <mat-form-field class="full-width">
                        <input matInput name="idCuitRemComercialVentaSecundaria2"
                               [formControl]="addCabeceraForm.controls['idCuitRemComercialVentaSecundaria2']" placeholder="CUIT"
                               #idCuitRemComercialVentaSecundaria2 />
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nombreMercadoATermino"
                          [formControl]="addCabeceraForm.controls['nombreMercadoATermino']"
                          placeholder="Mercado a término" #nombreMercadoATermino />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                      <mat-form-field class="full-width">
                        <input matInput name="idCuitMercadoATermino"
                          [formControl]="addCabeceraForm.controls['idCuitMercadoATermino']" placeholder="CUIT"
                          #idCuitMercadoATermino />
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nombreCorredorVentaPrimaria"
                          [formControl]="addCabeceraForm.controls['nombreCorredorVentaPrimaria']"
                          placeholder="Corredor Venta Primaria" #nombreCorredorVentaPrimaria />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                      <mat-form-field class="full-width">
                        <input matInput name="idCuitCorredorVentaPrimaria"
                          [formControl]="addCabeceraForm.controls['idCuitCorredorVentaPrimaria']" placeholder="CUIT"
                          #idCuitCorredorVentaPrimaria />
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nombreCorredorVentaSecundaria"
                               [formControl]="addCabeceraForm.controls['nombreCorredorVentaSecundaria']"
                               placeholder="Corredor Venta Secundaria" #nombreCorredorVentaSecundaria />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                      <mat-form-field class="full-width">
                        <input matInput name="idCuitCorredorVentaSecundaria"
                               [formControl]="addCabeceraForm.controls['idCuitCorredorVentaSecundaria']" placeholder="CUIT"
                               #idCuitCorredorVentaSecundaria />
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nombreEntregador"
                          [formControl]="addCabeceraForm.controls['nombreEntregador']"
                          placeholder="Representante Entregador" #nombreEntregador />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                      <mat-form-field class="full-width">
                        <input matInput name="idCuitRepresentanteEntregador"
                          [formControl]="addCabeceraForm.controls['idCuitRepresentanteEntregador']" placeholder="CUIT"
                          #idCuitRepresentanteEntregador />
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nombreRepresentanteRecibidor"
                               [formControl]="addCabeceraForm.controls['nombreRepresentanteRecibidor']"
                               placeholder="Representante Recibidor" #nombreRepresentanteRecibidor />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                      <mat-form-field class="full-width">
                        <input matInput name="idCuitRepresentanteRecibidor"
                               [formControl]="addCabeceraForm.controls['idCuitRepresentanteRecibidor']" placeholder="CUIT"
                               #idCuitRepresentanteRecibidor />
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nombreDestinatario"
                          [formControl]="addCabeceraForm.controls['nombreDestinatario']" placeholder="Destinatario"
                          #nombreDestinatario />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                      <mat-form-field class="full-width">
                        <input matInput name="idCuitDestinatario"
                          [formControl]="addCabeceraForm.controls['idCuitDestinatario']" placeholder="CUIT"
                          #idCuitDestinatario />
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nombreDestino" [formControl]="addCabeceraForm.controls['nombreDestino']"
                          placeholder="Destino" #nombreDestino />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                      <mat-form-field class="full-width">
                        <input matInput name="idCuitDestino" [formControl]="addCabeceraForm.controls['idCuitDestino']"
                          placeholder="CUIT" #idCuitDestino />
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nroContrato" [formControl]="addCabeceraForm.controls['nroContrato']"
                          placeholder="nro Contrato/Fijación" #nroContrato />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                    </div>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nombreIntermediarioFlete"
                          [formControl]="addCabeceraForm.controls['nombreIntermediarioFlete']"
                          placeholder="Intermediario Flete" #nombreIntermediarioFlete />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                      <mat-form-field class="full-width">
                        <input matInput name="idCuitIntermediarioFlete"
                          [formControl]="addCabeceraForm.controls['idCuitIntermediarioFlete']" placeholder="CUIT"
                          #idCuitIntermediarioFlete />
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100">
                    <div fxFlex="30" fxLayoutAlign="start center"><strong
                        style="font-size: 14px;">Observaciones:</strong>
                    </div>
                    <div fxFlex="70">
                    </div>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nombreIntermediario1"
                          [formControl]="addCabeceraForm.controls['nombreIntermediario1']" placeholder="Intermediario 2"
                          #nombreIntermediario1 />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                      <mat-form-field class="full-width">
                        <input matInput name="idCuitIntermediario1"
                          [formControl]="addCabeceraForm.controls['idCuitIntermediario1']" placeholder="CUIT"
                          #idCuitIntermediario1 />
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex="60">
                      <mat-form-field class="full-width">
                        <input matInput name="nombreIntermediario2"
                          [formControl]="addCabeceraForm.controls['nombreIntermediario2']" placeholder="Intermediario 3"
                          #nombreIntermediario2 />
                      </mat-form-field>
                    </div>
                    <div fxFlex="5"></div>
                    <div fxFlex="35">
                      <mat-form-field class="full-width">
                        <input matInput name="idCuitIntermediario2"
                          [formControl]="addCabeceraForm.controls['idCuitIntermediario2']" placeholder="CUIT"
                          #idCuitIntermediario2 />
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <mat-form-field class="full-width">
                      <input matInput name="caratulaMercadoATermino"
                        [formControl]="addCabeceraForm.controls['caratulaMercadoATermino']"
                        placeholder="Carátula Mercado a Término" #caratulaMercadoATermino />
                    </mat-form-field>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="start center">
                    <mat-form-field class="full-width">
                      <input matInput name="comentario" [formControl]="addCabeceraForm.controls['comentario']"
                        placeholder="Comentario" #comentario />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxFlex="5"></div>
            </div>
          </div>
          <div fxFlex="4"></div>
        </div>
      </div>
    </div>
    <div class="footer" fxLayout="row wrap">
      <div fxLayout="row wrap" fxLayoutAlign="center start" class="div-botones">
        <div fxFlex="100" class="mt-1">
          <div fxFlex="4"></div>
          <div fxFlex="44" fxLayoutAlign="center center">
            <button mat-raised-button style="background-color: black;" type="button" (click)="dialogRef.close(false)">
              CANCELAR
            </button>
          </div>
          <!-- <div fxFlex="14"></div> -->
          <div fxFlex="34" fxLayoutAlign="start center">
            <button mat-raised-button style="background-color: rgb(23,72,145);width: 200px;color: #ffffff !important;"
              [disabled]="addCabeceraForm.invalid" (click)="submit()">
              GUARDAR
            </button>
          </div>
          <div fxFlex="18"></div>
        </div>
      </div>
    </div>
  </form>
</div>
