<form [formGroup]="itemForm" (ngSubmit)="submit()">    
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center"> 
    <h1 matDialogTitle> {{ data.title }}</h1>     
    <div fxFlex="95" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          name="titulo"
          type="text"
          [formControl]="itemForm.controls['titulo']"
          placeholder="Título Cabecera / Alias "  #titulo 
        />
        <mat-hint align="end">{{titulo.value.length }} / 70</mat-hint>
      </mat-form-field>
      <small *ngIf="itemForm.controls['titulo'].hasError('required') &&
          itemForm.controls['titulo'].dirty" class="form-error-msg"
      >
        Es requerido el título
      </small>
      <small *ngIf="itemForm.controls['titulo'].hasError('maxlength') " class="form-error-msg">
        Debe introducir como máximo 70 carácteres
      </small>      
    </div>

    <div fxFlex="95" class="mt-1">
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="dialogRef.close(false)"
      >
        Cancelar
      </button>
      <span fxFlex></span>
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">
        Guardar
      </button>
    </div>
  </div>
</form>
