<div fxLayout="column wrap" style="padding: 0px;">
  <div fxFlex="100">
  <div fxLayout="row wrap"  >
    <div fxFlex="100" fxLayoutAlign="center center" style="height: 50px;background-color: #124A99; color: #ffffff;width: 108%;">
      <h4>ATENCION</h4>
    </div>
  </div>
  <div fxLayout="row wrap"  >
    <div fxFlex="100" fxLayoutAlign="center center" style="height: 90px;background-color: rgb(250, 250, 253);">
       <h4 style="color: #B73620">{{title}}</h4>
    </div>
  </div>
  <div fxLayout="row wrap"  >
    <div fxFlex="100" fxLayoutAlign="center center" style="height: 50px;background-color: rgb(250, 250, 253);">
       <strong>Intente con otro criterio de búsqueda</strong>
    </div>
  </div>
  <div fxLayout="row wrap"  >
    <div fxFlex="100" fxLayoutAlign="center center" style="height: 90px;background-color: rgb(250, 250, 253);">
      <button mat-raised-button
         (click)="submit()">ACEPTAR</button>
    </div>
  </div>
  </div>
</div>

