.error{
    color: red !important;
    font: 1em sans-serif;

}
.success{
    color: #3F51B5 !important;
    font: 1em sans-serif;

}

img {
    width: 90px;
    height: 90px;
    border: 2px;
}

.mostrar_img{
    position:absolute;
     top: 8px;
    left: 58px;
}
