<mat-card class="p-0 estilo_card">
  <mat-card-title class="">
    <div  fxLayout="row wrap" class="card-title-text titulo-fondo">
      <div fxFlex="95">
        <h5>DETALLE DE RESERVAS </h5>
        <!-- {{data.title}} -->
      </div>
      <div fxFlex="5" fxLayoutAlign="end center">
        <h5 class="cerrar_popup" (click)="gotoHome()"> x </h5>
      </div>
    </div>
    <form [formGroup]="filtrosForm" (ngSubmit)="submit()" >
    <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="subtitulo-fondo">

        <div fxFlex="2"></div>
        <!-- cliente -->
        <div fxFlex="25">
          <mat-form-field class="full-width">
            <mat-label>Cliente</mat-label>
            <input matInput readonly
             name="cliente"
             formControlName="cliente" >
          </mat-form-field>
        </div>
        <!-- Terminal -->
        <div fxFlex="25">
          <mat-form-field class="full-width">
            <mat-label>Terminal de Carga</mat-label>
            <input matInput readonly
            name="terminal"
            formControlName="terminal" >
          </mat-form-field>
        </div>
        <!-- Estado -->
        <div fxFlex="20"  id="estado" >
          <mat-form-field >
            <mat-label>Estado</mat-label>
            <mat-select name="id_estado" formControlName="id_estado">
              <mat-option  *ngFor="let item of estados" [value]="item.id">{{item.descripcion}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- BUSCAR -->
        <div fxFlex="10">
          <button
            mat-stroked-button
            type="submit"
            class="btn_comun btn_buscar"
            color="primary">
            BUSCAR
          </button>
        </div>
        <div fxFlex="1"  class="vl"></div>
        <!-- EXPORTAR -->
        <div fxFlex="10">
          <button
            (click) = "exportarReservas()"
            mat-stroked-button
            type="button"
            class=" btn_comun btn_exportar"
            color="primary">
            EXPORTAR
          </button>
        </div>
    </div>
  </form>
  </mat-card-title>
  <mat-card-content >
    <div *ngFor="let pedido of listaPedidosTemp">
      <mat-card class="p-0 estilo_card_item">
        <div fxLayout="row wrap">
          <div  fxFlex="100" class="detalle" >
            <p ><strong>Detalle de Cargas </strong></p>
          </div>
        </div>
        <hr>
        <div fxLayout="row wrap" style="margin-bottom: -17px;">
          <div  fxFlex="100" fxFlex.gt-xs="20">
            <div fxLayout="column"  fxLayoutAlign="space-around stretch" >
              <span class="solicitanteColor">Solicitante:</span>
              <span class="solicitanteDestino">{{pedido.solicitante | uppercase }}</span>
            </div>
          </div>
          <div  fxFlex="100" fxFlex.gt-xs="20">
            <div fxLayout="column" fxLayoutAlign="space-around stretch"  >
              <span class="destinoColor" >Destino:</span>
              <span class="destino">{{pedido.destino | uppercase }}</span>
          </div>
          </div>
        </div>

        <mat-card-content class="p-0" *ngFor="let reserva of pedido.reservas ">
          <div fxLayout="row wrap">
            <div  fxFlex="100" class="pt-1" >
              <div fxFlex="98" class="contenedor-card" >
                <mat-card   class="p-0 estilo_card_item">
                  <mat-card-title class="black-500">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                      <!-- id -->
                      <div fxFlex="100" fxFlex.gt-xs="20"  fxLayoutAlign="start stretch">
                        <div fxFlex="100" class="btn_copiar" fxFlex.gt-xs="45" >
                          <span class="centrar_cant">{{ reserva.id_reserva }}</span>
                        </div>
                        <div fxFlex="1"></div>
                        <div  fxFlex="100" class="btn_copiar"  fxFlex.gt-xs="5" >
                          <span class="centrar_cant mat-button-wrapper  material-icons small pointer" (click)="copyTextToClipboard(reserva.id_reserva)" >filter_none </span>
                        </div>
                      </div>
                      <!-- Fecha -->
                      <div  fxFlex="100" fxFlex.gt-xs="20" fxLayoutAlign="start stretch"  >
                        <div fxLayoutAlign="start center" fxFlex="100">
                          <div fxLayout="column" fxLayoutAlign="space-around stretch">
                            <span class="input-color"  >Fecha:</span>
                            <span class="color-white" #fecha >{{reserva.fecha_pedido | date: 'dd/MM/yyyy' }}</span>
                          </div>
                        </div>
                      </div>
                      <!-- Nombre chofer -->
                      <div fxFlex="100" fxFlex.gt-xs="20"  fxLayoutAlign="start stretch" >
                        <div  fxFlex="100"  fxFlex.gt-xs="13"  *ngIf="reserva.id_chofer">
                          <mat-icon style="color: #fff; margin-top: 15px;" aria-hidden="false" aria-label="{2:label} icon">perm_identity</mat-icon>
                        </div>
                        <div fxLayoutAlign="start center" fxFlex="100" >
                            <div fxLayout="column" fxLayoutAlign="start center"  *ngIf="reserva.id_chofer">
                              <span class="input-color" style="margin-right: 51px;" >Nombre: </span>
                              <span matTooltip="{{reserva.chofer| uppercase}}" class="color-white" #nombre_chofer > {{reserva.chofer| uppercase | slice:0:14 }}{{(reserva.chofer.length > 14) ? '...': '' }}</span>
                            </div>
                        </div>
                      </div>
                      <!-- Patente chofer -->
                      <div fxFlex="100" fxFlex.gt-xs="20" fxLayoutAlign="start stretch"  >
                        <div fxLayoutAlign="start center" fxFlex="100" *ngIf="reserva.id_chofer">
                          <div fxLayout="column" fxLayoutAlign="start center" >
                            <span class="input-color" style="margin-right: 51px;" >Patente:</span>
                            <span class="color-white" #patente >{{ reserva.patente_camion | uppercase }} / {{ reserva.patente_acoplado | uppercase }}</span>
                          </div>
                        </div>
                      </div>
                      <div  fxFlex="100" fxFlex.gt-xs="20" fxLayoutAlign="start stretch"  >
                        <div fxLayoutAlign="start center" fxFlex="100">
                          <div fxLayout="column"fxLayoutAlign="space-around stretch" >
                            <span class="input-color" style="margin-right: 10px;" >ST OC </span>
                            <span class="stoc">{{reserva.stoc}}</span>
                          </div>
                          <div fxFlex="1"></div>
                          <div  fxFlex="100" class="btn_copiar"  fxFlex.gt-xs="5"  *ngIf="reserva.stoc" >
                            <i class="centrar_cant material-icons small pointer" (click)="copyTextToClipboard(reserva.stoc)" >filter_none</i>
                          </div>
                        </div>
                      </div>
                      <div fxFlex="100" fxFlex.gt-xs="15" fxLayoutAlign="end center" >
                        <button *ngIf="reserva.estado == '1'"  type="button" mat-stroked-button class="btn_cupos" (click)="openPopupDetalleCupo(reserva.id_reserva_real)" >VER CUPOS</button>
                      </div>
                      <div fxFlex="1"></div>
                  </div>
                  </mat-card-title>
                  <mat-card-content class="card-content" >
                   <!-- Item de productos  -->
                    <div fxLayout="row wrap" *ngFor="let producto of reserva.productos">
                      <div  fxFlex="100">
                        <!-- Tipo de Despacho -->
                        <div fxFlex="100" fxFlex.gt-xs="20" class="pr-1"  >
                          <div fxLayoutAlign="start center" fxFlex="95">
                            <div fxLayout="column"  fxLayoutAlign="start stretch" >
                              <span class="item" >Tipo Despacho</span>
                              <span class="item"><strong>{{producto.tipo_despacho}}</strong></span>
                            </div>
                          </div>
                        </div>
                         <!-- Contrato -->
                        <div  fxFlex="100" fxFlex.gt-xs="20" class="pr-1"  >
                         <div fxLayout="column"  fxLayoutAlign="start stretch" >
                            <span class="item" >Contrato/Fijación</span>
                            <span class="item"><strong>{{producto.contrato}}</strong></span>
                          </div>
                        </div>
                        <!-- Producto -->
                        <div  fxFlex="100" fxFlex.gt-xs="20" class="pr-1"   >
                          <div fxLayout="column"  fxLayoutAlign="start stretch" >
                            <span class="item" >Producto</span>
                            <span class="item"><strong>{{producto.producto}}</strong></span>
                          </div>
                        </div>
                        <!-- Composicion -->
                        <div  fxFlex="100" fxFlex.gt-xs="20" class="pr-1"  >
                            <div fxLayout="column"  fxLayoutAlign="start stretch" >
                              <span class="item">Composicion</span>
                              <span class="item"><strong>{{producto.composicion}}</strong></span>
                            </div>
                        </div>
                        <!-- Cantidad -->
                        <div  fxFlex="100" fxFlex.gt-xs="19"  class="pr-1" >
                          <div fxLayout="column"  fxLayoutAlign="start stretch" >
                            <span class="item">&nbsp;</span>
                           <span class="item">Cantidad (Tn): <strong> {{producto.cantidad}}</strong></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
      <!-- Observaciones -->
      <div fxLayout="row wrap" fxLayoutAlign="center center">
       <div fxFlex="95"  class="mt-1">
         <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
           <span class="p-0"><strong style="font-size: 16px">Observaciones: </strong>
             {{pedido.observaciones}}
           </span>

         </div>
       </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
