<br>
<div class="m-333">
  <h4 style="color:#124A99;">{{'logistica.title' | translate}}</h4>
</div>
<mat-card class="p-0">
  <mat-card-content class="p-0" style="height: 70vh">
    <br>
    <form [formGroup]="itemForm" (ngSubmit)="submit()">
      <div fxLayout="column wrap" fxLayout.lt-sm="column">
        <div fxFlex="100" class="pr-1" style="height: 10vh; margin-left:30px; ">
          <div fxFlex="50" class="pr-1">
            <div fxLayout="column wrap">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{'logistica.horasTitle' | translate}}</mat-label>
                <input matInput type="number" placeholder="{{'logistica.horasTitle' | translate}}"
                  [formControl]="itemForm.controls['horas']" [min]="0" [max]="48">
                <mat-error>
                  <small *ngIf="itemForm.controls['horas'].hasError('min') && itemForm.controls['horas'].touched">
                    {{'logistica.errorHorasMin' | translate}}</small>
                  <small *ngIf="itemForm.controls['horas'].hasError('max') && itemForm.controls['horas'].touched">
                    {{'logistica.errorHorasMax' | translate}}</small>
                  <small *ngIf="itemForm.controls['horas'].hasError('required') && itemForm.controls['horas'].touched">
                    {{'logistica.errorHorasRequired' | translate}}</small>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="50" class="pr-1">
            <div fxLayout="column wrap">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{'logistica.kmTitle' | translate}}</mat-label>
                <input matInput type="number" [formControl]="itemForm.controls['km']"
                  placeholder="{{'logistica.kmTitle' | translate}}" [min]="0" [max]="200">
                <mat-error>
                  <small *ngIf="itemForm.controls['km'].hasError('required') && itemForm.controls['km'].touched"
                    class="form-error-msg">{{'logistica.errorKmRequired' | translate}}
                  </small>
                  <small *ngIf="itemForm.controls['km'].hasError('min') && itemForm.controls['km'].touched"
                    class="form-error-msg">
                    {{'logistica.errorKmMin' | translate}}
                  </small>
                  <small *ngIf="itemForm.controls['km'].hasError('max') && itemForm.controls['km'].touched"
                    class="form-error-msg">
                    {{'logistica.errorKmMax' | translate}}
                  </small>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="50" class="pr-1" hidden>
            <mat-form-field class="full-width">
              <input matInput name="condiciones_viaje" [formControl]="itemForm.controls['condiciones_viaje']"
                placeholder="Id del producto">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayout.lt-sm="column" style="margin-left:30px; ">
          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="primary" [disabled]="itemForm.invalid">
              {{'SAVE' | translate}}
            </button>
            <small fxFlex></small>
          </div>
        </div>
      </div>

    </form>
  </mat-card-content>
</mat-card>