<br>
<div class="m-333">
  <h4 style="color:#124A99;">Grupos personalizados</h4>
</div>
<div class="m-333">
  <!-- <span fxFlex></span> -->
  <button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">Nuevo Grupo</button>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100" >
    <mat-card class="p-0">
      <mat-card-content class="p-0">
        <ngx-datatable class="material ml-0 mr-0" [rows]="grupos" [columnMode]="'force'" [headerHeight]="50"
          [footerHeight]="50" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
          [limit]="page.size" (page)='setPage($event)' [rowHeight]="'auto'">
          <!-- <ngx-datatable-column name="No." [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.id }}
              </ng-template>
           </ngx-datatable-column> -->
          <ngx-datatable-column name="Grupo" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.nombre }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Zona Ideal" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.nombreZonaIdeal }}
            </ng-template>
          </ngx-datatable-column>
          <!--<ngx-datatable-column name="Tipo Acoplado" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.nombreAcoplado }}
            </ng-template>
          </ngx-datatable-column> -->
          <ngx-datatable-column name="Radio" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.radio }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Acciones" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button mat-icon-button mat-sm-button color="primary" class="mr-1" matTooltip="Editar"
                (click)="openPopUp(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button mat-sm-button color="primary" class="mr-1" matTooltip="Eliminar"
                (click)="deleteItem(row)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button mat-sm-button color="primary" class="mr-1" matTooltip="Lista de choferes"
                (click)="openPopUpChoferes(row)">
                <mat-icon>assignment</mat-icon>
              </button>
              <button mat-icon-button mat-sm-button color="primary" class="mr-1" matTooltip="Enviar Notificaciones PUSH"
                (click)="openPopUpSendNotificaciones(row)" > 
                <mat-icon>message</mat-icon>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </mat-card-content>
    </mat-card>
  </div>
  
</div>