table {
  width: 100%;
}
.my-card {
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0),
    0 1px 5px 0 rgba(0, 0, 0, 0) !important;
  background: #e9e9ea;
  margin-left: -10px;
  margin-right: -10px;
}
.Rotate-90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  font-size: 11px;
  background: #ffffff;
  width: 50px;
  position: relative;
  top: 1px;

  margin: 2 0 16px;
}
#filtro-dador {
  position: fixed;
  z-index: 20000;
  top: 70px;
  right: 12px;
  max-width: 300px;
  .handle {
    float: right;
  }
  .mat-card-content {
    padding: 1rem 1.5rem 2rem;
  }
}
.mat-column-first_color {
  width: 3%;
}
.mat-column-dador {
  width: 31%;
}
.mat-column-total {
  width: 7%;
}
.mat-column-pend_asignar {
  width: 7%;
}
.mat-column-pend_vincular {
  width: 7%;
}
.mat-column-ctg {
  width: 7%;
}
.mat-column-cargado {
  width: 7%;
}
.mat-column-mas50 {
  width: 7%;
}
.mat-column-menos50 {
  width: 7%;
}
.mat-column-en_destino {
  width: 7%;
}
.mat-column-menos50_destino {
  width: 7%;
}
.mat-column-descargados {
  width: 7%;
}
.mat-column-anulados {
  width: 7%;
}
.mat-column-recuperar {
  width: 7%;
}
.mat-column-acciones {
  width: 3%;
}

.mat-indicador-total {
  background-color: #b1b2b4 !important;
  color: #fff !important;
}
.mat-indicador-pend_asignar {
  background-color: #ec7420 !important;
  color: #fff !important;
}
.mat-indicador-pend_vincular {
  background-color: #d07f0d !important;
  color: #fff !important;
}
.mat-indicador-ctg {
  background-color: #eadf00 !important;
  color: #fff !important;
}
.mat-indicador-cargado {
  background-color: #96c57b !important;
  color: #fff !important;
}
.mat-indicador-mas50 {
  background-color: #5ea844 !important;
  color: #fff !important;
}
.mat-indicador-menos50 {
  background-color: #5ea643 !important;
  color: #fff !important;
}
.mat-indicador-en_destino {
  background-color: #006CB1 !important;
  color: #fff !important;
}
.mat-indicador-descargados {
  background-color: #009DE0 !important;
  color: #fff !important;
}
.mat-indicador-anulados {
  background-color: #ee5a66 !important;
  color: #fff !important;
}
.width-99 {
  width: 99%;
}
