<br>
<div class="m-333">
  <h4 style="color:#124A99;">{{'panelTurneado.control-mensual.nav' | translate}}</h4>
</div>
<mat-card class="p-0">
  <mat-card-content class="p-0">
    <strong style="color: blue;margin-left: 20px;font-size: 14px;">{{'panelTurneado.control-mensual.searchChofer' | translate}}</strong>
    <mat-form-field class="p-5" style='padding:8px;width:20%;margin-left: 10%;' class="example-full-width">
      <mat-label>
        <mat-icon matPrefix>search</mat-icon>{{'panelTurneado.control-mensual.searchChofer' | translate}}
      </mat-label>
      <input matInput name="nombre" [value]="filtro.nombre" (keyup)="updateFilter($event,'nombre')">
    </mat-form-field>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- chofer Column -->
        <ng-container matColumnDef="id_pedido">
          <th mat-header-cell *matHeaderCellDef> {{'panelTurneado.control-mensual.id_pedido'  | translate}} </th>
          <td mat-cell *matCellDef="let row">{{row?.id_pedido}} </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>       
        <!-- nombre_chofer Column -->
        <ng-container matColumnDef="nombre_chofer">
          <th mat-header-cell *matHeaderCellDef>{{'panelTurneado.control-mensual.nombre_chofer' | translate}} </th>
          <td mat-cell *matCellDef="let row"> {{row?.nombre_chofer}} </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>
        <!-- nombre_lista Column -->
        <ng-container matColumnDef="nombre_lista">
          <th mat-header-cell *matHeaderCellDef> {{'panelTurneado.control-mensual.nombre_lista' | translate}}</th>
          <td mat-cell *matCellDef="let row"> {{(row?.nombre_lista_actual == null?row?.nombre_lista_pedido :row?.nombre_lista_actual)}} </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>
        <!-- cuit Column -->
        <ng-container matColumnDef="nombre_lista_pedido">
          <th mat-header-cell *matHeaderCellDef> {{'panelTurneado.control-mensual.nombre_lista_pedido' | translate}} </th>
          <td mat-cell *matCellDef="let row"> {{(row?.nombre_lista_actual == null?null:row?.nombre_lista_pedido)}} </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>
        <!-- transportista Column -->
        <ng-container matColumnDef="create_at">
          <th mat-header-cell *matHeaderCellDef> {{'panelTurneado.control-mensual.create_at' | translate}} </th>
          <td mat-cell *matCellDef="let row"> {{row?.create_at}} </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>
        <ng-container matColumnDef="creado_por">
          <th mat-header-cell *matHeaderCellDef> {{'panelTurneado.control-mensual.creado_por' | translate}} </th>
          <td mat-cell *matCellDef="let row"> {{row?.creado_por}} </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>
        
        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> {{'panelTurneado.control-mensual.actions' | translate}} </th>
          <td mat-cell *matCellDef="let row">
              <button mat-raised-button color="primary" 
          matTooltip="{{'panelTurneado.control-mensual.modificar' | translate}}" style="border-radius: 10px"
          (click)="openPopUpModificarLista(row)" [disabled]="row?.create_por"
            >
            <!-- <mat-icon>alarm_on</mat-icon> -->
            &nbsp;&nbsp; {{'panelTurneado.control-mensual.modificar' | translate}}
          </button>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"  class="example-element-row" ></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>  
      <mat-paginator
        #paginator
        class="mat-paginator-sticky"
        [pageSize]="page.size"
        [pageSizeOptions]="[5]"
        [showFirstLastButtons]="true"
        [length]="page.totalElements"
        (page)="setPage($event)"
      >
      </mat-paginator>  

  </mat-card-content>
</mat-card>