::ng-deep .mat-tab-labels {
  height: 48px;
  margin-top: 0px;
  margin-left: 56px;
  padding: 0px !important;
}

.egret-indigo .mat-tab-group.mat-background-primary .mat-tab-header{
  background-color:#87B1C6 !important;
  color: #87B1C6;
}



.mat-tab-link{
  color:white !important;
}

::ng-deep .egret-indigo .mat-tab-label {
  padding: 0px !important;
}

::ng-deep .mat-tab-label .mat-tab-label-content{
  color:white;
}

::ng-deep .mat-tab-header {
  border-bottom: 0px !important;
  background-color:#87B1C6 !important;
}

::ng-deep .mat-tab-label-active .mat-tab-label-content{
  color: #87B1C6;
  background-color: #E9E9EA !important;
 }
 ::ng-deep .mat-tab-label-active{
  color: #87B1C6;
  background-color: #E9E9EA !important;
  opacity: 1 !important;
 }

 ::ng-deep .mat-ink-bar {
  background-color:#E9E9EA !important;
  color: #87B1C6;
}

  ::ng-deep .mat-tab-body-content {
    background-color: #E9E9EA !important;
  }

  ::ng-deep .app-admin-container .rightside-content-hold {
    padding: 0px !important;
  }







