<mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="selectTab($event)" style="margin-top: 8px;"  >
  <mat-tab label="{{'panelTurneado.lista-choferes.nav' | translate}}">
    <app-estado-choferes *ngIf="selectedTab === 0"></app-estado-choferes>
  </mat-tab>
  <mat-tab label="{{'panelTurneado.lista-turneado.nav' | translate}}">
    <app-lista-turneado *ngIf="selectedTab === 1"></app-lista-turneado>
  </mat-tab>
  <mat-tab label="{{'panelTurneado.confirmar-arribo.nav' | translate}}" *ngIf="veConfirmarArribo">
    <app-confirmar-arribo *ngIf="selectedTab === 2"></app-confirmar-arribo>
  </mat-tab>
  <mat-tab label="{{'panelTurneado.control-mensual.nav' | translate}}" *ngIf="veControlMensual">
    <app-control *ngIf="selectedTab === 2"></app-control>
  </mat-tab>
</mat-tab-group>