.agm-map {
    width: 100%;
  }
  .map {
    width: 100%;
    //border: 2px solid rgb(0, 0, 0);
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 450px;
  }
  table {
    width: 100%;
  }

.ngx-datatable{
  width: 100%;
}