<div>
  <h1 matDialogTitle>{{ data.title }}</h1>
  <span fxFlex></span><mat-icon>account_circle</mat-icon>
</div>
<form [formGroup]="itemFormLista" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50" class="pr-1" hidden>
      <mat-form-field class="full-width">
        <input
          matInput
          name="id"
          [formControl]="itemFormLista.controls['id_pedido']"
          placeholder=""
        />
      </mat-form-field>
    </div>
    <div fxFlex="100" class="pr-1">
      <mat-form-field
        class="p-5"
        style="margin-left: 15px;"
        class="example-full-width"
      >
        <mat-select
          id="id_lista"
          placeholder=" {{
            'panelTurneado.lista-choferes.listasTurneada1' | translate
          }}"
          name="id_lista"
          [formControl]="itemFormLista.controls['id_lista']"
        >
          <mat-option *ngFor="let listav of listas" [value]="listav.id">
            {{ listav.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="100" class="mt-1">
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="dialogRef.close(false)"
      >
        Cancelar
      </button>
      <span fxFlex></span>
      <button
        mat-raised-button
        color="primary"
        [disabled]="itemFormLista.invalid"
      >
        Guardar
      </button>
    </div>
  </div>
</form>
