
.mat-column-id {
    width: 10%;
    text-align: center;
  }

.mat-column-id {
    width: 10%;
    text-align: center;
  }

  .mat-column-descripcion {
    width: 80%;
    text-align: center;
  }
  
  .mat-column-acciones {
    width: 10%;
    text-align: center;
  }

  .mat-blue {
    background-color: #247ba0;
    color: #FEFEFE!important;
  }

  .button-row {     
    align-items: center; 
    justify-content: space-around;
    margin-top: 14px;
   }

  .button-row1 { 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
    margin-top: -41px;
   }

   #form-add-cupo {

    ::ng-deep .mat-form-field-infix { 
      margin-top: 0px !important;
      border-top: 0.84375em solid transparent !important;
    }
    
     ::ng-deep.mat-form-field-underline {
      display: none !important;
     }
  
     ::ng-deep .mat-focused .mat-form-field-label {
      /*change color of label*/
      color: #247ba0;
     }

   }

   

   