.viajes{
    background: #24b1dc;
    color: #fff;
}
.pedido{
    background: #0081B2;
    color: #fff;
}
.camiones{
    background: #00587C;
    color: #51CAF5;
}
.lista_negra{
    background: #124a99;
    color: #51CAF5;
}