<div class="margin-333">
  <div fxFlex="100">
    <mat-card
      style="box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0) !important; background: #E9E9EA;"
      [style.overflow]="'auto'" [style.width.px]="'100%'">
      <!-- <mat-card
        style="box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0) !important; background: #53ccfc; padding: 0px; margin-top: -25px;"
        [style.overflow]="'auto'" [style.width.px]="'100%'" [style.height.px]="'5'">
      </mat-card> -->
      <div fxLayout="row wrap">
        <div fxFlex="100" class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
            <ng-container matColumnDef="first_color">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"></th>
              <td mat-cell *matCellDef="let solicitud" style="width: 5px;height: 40px;">
                <div [matTooltip]="solicitud.motivos" [ngClass]="{ 'solicitud-acept' : solicitud.motivo == null , 'solicitud-reject': solicitud.motivo != null }" style="height: 100%; text-align: center;">
                  <mat-icon *ngIf="solicitud == expandedElement" style="color: #FCFDFF; ">expand_more </mat-icon>
                  <mat-icon *ngIf="solicitud !== expandedElement" style="color: #FCFDFF; ">chevron_right </mat-icon>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="producto">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;">Producto</th>
              <td mat-cell *matCellDef="let solicitud" style="text-align: center; width: 140px; font-size: 12px;">
                {{solicitud.nombreProducto}}
              </td>
            </ng-container>
            <ng-container matColumnDef="fechadesde">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;">Fecha desde</th>
              <td mat-cell *matCellDef="let solicitud" style="text-align: center; width: 140px; font-size: 12px;">
                {{solicitud.fechaCupo}}
              </td>
            </ng-container>
            <ng-container matColumnDef="fechahasta">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;">Fecha hasta</th>
              <td mat-cell *matCellDef="let solicitud" style="text-align: center; width: 140px; font-size: 12px;">
                {{solicitud.fechaHasta}}
              </td>
            </ng-container>
            <ng-container matColumnDef="zona">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;">Zona</th>
              <td mat-cell *matCellDef="let solicitud" style="text-align: center; width: 140px; font-size: 12px;">
                {{ solicitud.zona }}
              </td>
            </ng-container>
            <ng-container matColumnDef="demandado">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;">Dador cupos</th>
              <td mat-cell *matCellDef="let solicitud" style="text-align: center; width: 140px; font-size: 12px;">
                {{solicitud.nombreDemandado}} ^^^^
              </td>
            </ng-container>
            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;">Solicitados</th>
              <td mat-cell *matCellDef="let solicitud" style="text-align: center;">
                <button mat-mini-fab style="box-shadow: none; width: 35px; height: 35px;" color="indicador-total"
                  class="mr-2">
                  {{ solicitud.cantidad}}
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="asignado">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;">Recibidos</th>
              <td mat-cell *matCellDef="let solicitud" style="text-align: center;">
                <button mat-mini-fab style="box-shadow: none; width: 35px; height: 35px;" color="indicador-pend_asignar"
                  class="mr-2">
                  {{solicitud.asignado}}
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;">Acciones</th>
              <td mat-cell *matCellDef="let solicitud" style="text-align: center;">
                <div fxLayout="row wrap">
                  <div fxFlex="100">
                      <!-- <div fxFlex="50">
                        <button mat-menu-item *ngIf="filtro.oculto === 0" (click)="ocultarMostrarSolicitud(solicitud, 1,$event)" style="text-align: center;">
                          <mat-icon matTooltip="Ocultar solicitud">visibility_off
                          </mat-icon>
                        </button>
                        <button mat-menu-item *ngIf="filtro.oculto === 1" (click)="ocultarMostrarSolicitud(solicitud, 0,$event)" style="text-align: center;">
                          <mat-icon matTooltip="Mostrar solicitud">visibility_on
                          </mat-icon>
                        </button>
                      </div> -->
                      <button mat-menu-item (click)="openPopUpChanceDemanda(solicitud,$event)" style="text-align: center;">
                              <mat-icon matTooltip="Modificar la cantidad">edit
                              </mat-icon>
                            </button>
                      <!-- <div fxFlex="50">

                      </div> -->
                  </div>
                </div>

              </td>
            </ng-container>
            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns2.length">
                <div class="example-element-detail"
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <div fxLayout="row wrap">
                    <div fxFlex="100">
                        <h6><strong>Observaciones:</strong></h6>
                    </div>
                    <div fxFlex="100">
                      <p style="margin-left: 20px;">{{element.observaciones}}</p>
                    </div>
                   </div>




                  <table mat-table [dataSource]="dataSource2" *ngIf="dataSource2.data.length>0">
                    <ng-container matColumnDef="alfanumericoCupo">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Cupo</th>
                      <td mat-cell *matCellDef="let detalle" style="text-align: center; width: 140px; font-size: 12px;">
                        {{detalle.alfanumericoCupo}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="cartaPorte">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Carta Porte</th>
                      <td mat-cell *matCellDef="let detalle" style="text-align: center; width: 140px; font-size: 12px;">
                        {{detalle.cartaPorte}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="fechaCupo">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Fecha Cupo</th>
                      <td mat-cell *matCellDef="let detalle" style="text-align: center; width: 140px; font-size: 12px;">
                        {{detalle.fechaCupo}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="estado_cupo">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Estado Cupo</th>
                      <td mat-cell *matCellDef="let detalle" style="text-align: center; width: 140px; font-size: 12px;">
                        {{detalle.estado_cupo}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="estado_viaje">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Estado Viaje</th>
                      <td mat-cell *matCellDef="let detalle" style="text-align: center; width: 140px; font-size: 12px;">
                        {{detalle.estado_viaje}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="nombre_destino">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Destino</th>
                      <td mat-cell *matCellDef="let detalle" style="text-align: center; width: 140px; font-size: 12px;">
                        {{detalle.nombre_destino}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="nombre_chofer">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Chofer</th>
                      <td mat-cell *matCellDef="let detalle" style="text-align: center; width: 140px; font-size: 12px;">
                        {{detalle.nombre_chofer}}
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;">
                    </tr>
                  </table>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
              [class.example-expanded-row]="expandedElement === row"
              (click)="expandedElement = (expandedElement !== row) ? cargarDetalle(row) : null">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          </table>
          <mat-paginator #paginator class="mat-paginator-sticky" [length]="totalSize" [pageIndex]="pageIndex"
            [pageSize]="pageSize" [pageSizeOptions]="[50]" (page)="getServerData($event)" [showFirstLastButtons]="true">
          </mat-paginator>

        </div>
      </div>
    </mat-card>
  </div>
</div>
<div id="app-filtrosSolicitudes">
  <div class="handle" *ngIf="!isCustomizerOpen" style="color: #fff; margin-right:28px;">
    <p style="margin: 4px 10px 0px; font-size: small;">Filtrar</p>
    <button mat-fab class="mat-rojo-filtrar" (click)="isCustomizerOpen = true" matTooltip="Filtrar Solicitudes">
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>
  <mat-card class="p-0" *ngIf="isCustomizerOpen">
    <mat-card-title class="mat-rojo-filtrar">
      <div class="card-title-text">
        <span>Filtrar Solicitudes</span>
        <span fxFlex></span>
        <button class="card-control" mat-icon-button (click)="isCustomizerOpen = false">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-title>
    <mat-card-content>
      <button mat-icon-button (click)="limpiarFiltros()">
        <mat-icon matTooltip="Limpiar filtros">autorenew</mat-icon>
      </button>
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <mat-form-field class="full-width">
          <input matInput name="producto" [value]="filtro.producto" placeholder="Producto"
            (keyup)="updateFilter($event.srcElement.value, 'producto')" />
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="appDatepicker" [formControl]="filtrarForm.controls['selectedFecha1']"
            placeholder="Fecha Desde" [max]="maxDate" (dateChange)="updateFilter($event, 'fecha_desde')" readonly />
          <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #appDatepicker></mat-datepicker>
          <mat-datepicker #appDatepicker disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="appDatepicker2" [formControl]="filtrarForm.controls['selectedFecha2']"
            placeholder="Fecha Hasta" [min]="minDate2" (dateChange)="updateFilter($event, 'fecha_hasta')" readonly />
          <mat-datepicker-toggle matSuffix [for]="appDatepicker2"></mat-datepicker-toggle>
          <mat-datepicker #appDatepicker2></mat-datepicker>
          <mat-datepicker #appDatepicker2 disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-checkbox class="example-radio-button" [checked]="filtro.oculto" (change)="onCheckboxChange($event.checked)"
          matTooltip="Solicitudes ocultas">Solicitudes ocultas
        </mat-checkbox>
      </div>
    </mat-card-content>
  </mat-card>
</div>
