
.error{
    color: red !important;
    font: 1em sans-serif;

}
.success{
    color: #3F51B5 !important;
    font: 1em sans-serif;

}
img{
    width: 200px;
    height:200px;
    }

.fileupload-drop-zone
    {
     height: 244px;
    padding: 10px;
    }
    
