<mat-card-content class="mt-1">
  <div class="m-333">
    <h4 style="color:#124A99;">Listas de Turneadas</h4>
  </div>
  <div class="m-333">
    <button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">Agregar Lista</button>
  </div>
  <mat-card class="p-0">
    <mat-card-content class="p-0">
      <ngx-datatable matSort class="material ml-0 mr-0" [rows]="listas" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="'auto'">
        <ngx-datatable-column name="ID" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.id }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nombre" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.nombre }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Acciones" [flexGrow]="10">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)"
              matTooltip="Modificar Lista">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp2(row)"
              matTooltip="Lista de choferes">
              <mat-icon>list</mat-icon>
            </button>            
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </mat-card-content>
  </mat-card>
</mat-card-content>
